<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>풋터</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
    <div class="footer-wrap">
        <div class="footer-company">
            <div class="footer-title">
                <span>COMPANY</span>
            </div>
            <div class="footer-info">
                <a href="#">회사소개</a>
                <span> | </span>
                <span>뉴스룸</span>
                <span> | </span>
                <span>서비스약관 및 정책</span>
                <span> | </span>
                <span>개인정보처리방침</span>
                <span> | </span>
                <span>투자정보</span>
            </div>
            <div class="footer-info2">
                <ul>
                    <li>(주)K-hIT</li>
                    <li>대표이사 | 이윤수   개인정보관리책임자 | 이윤수</li>
                    <li>사업자등록번호 | 012-34-5678</li>
                    <li>Tel : 02-1234-5678  |  Email : kh@kr.or.iei</li>
                </ul>
            </div>
        </div>
        <div class="footer-company2">
            <div class="footer-title">
                <span>CUSTOMER CENTER</span>
            </div>
            <div class="footer-info2">
                <ul>
                    <li>운영시간 / 연락처</li>
                    <li>평일 (월~금요일)09:00 ~ 17:30 | 점심시간 12:00 ~ 13:00</li>
                    <li>메일문의 | webmaster@kr.or.iei</li>
                    <li>전화문의 | 02-1234-5678</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>