<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/font.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
	<div class="header-wrap">
		<div class="header-title">
			<div class="header-space"></div>
			<div class="header-logo">
				<a href="#">K-hIT</a>
			</div>
			<div class="header-category">
				<a href="#">LOGIN</a>
				<a href="#">JOIN</a>
				<a href="#">ORDER</a>
				<a href="#">MY PAGE</a>
			</div>
		</div>
		<div class="header-menu">
			<div class="menu1"></div>
			<div class="menu2">
				<ul class="main-menu">
					<li><a href="#">CATEGORY</a>
						<ul class="sub-menu">
							<li><a href="#">귀걸이</a></li>
							<li><a href="#">목걸이</a></li>
							<li><a href="#">반지</a></li>
							<li><a href="#">팔찌</a></li>
							<li><a href="#">시계</a></li>
							<li><a href="#">헤어</a></li>
							<li><a href="#">OTHERS</a></li>
						</ul>
					</li>
					<li><a href="#">BEST</a></li>
					<li><a href="#">NEW</a></li>
					<li><a href="#">COMMUNITY</a></li>
				</ul>
			</div>
			<div class="menu3">
				<a href="#"><span class="material-icons">
					search
					</span></a>
				<a href="#"><span class="material-icons">
					shopping_cart
					</span></a>
			</div>
		</div>
	</div>

</body>
</html>