<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/font.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/seller.css">
<link rel="stylesheet" href="/css/joinmodal.css">
<script src="/js/jquery-3.6.0.js"></script>
<body>
	<div class="header-wrap">
		<div class="header-title">
			<div class="header-space"></div>
			<div class="header-logo">
				<a href="/">K-hIT</a>
			</div>
			<div class="header-category">
				<th:block th:if="${session.c == null && session.s == null}">
					<a href="/common/login" class="a">LOGIN</a>
					<button type="button" class="a join">JOIN</button>
					<div id="join-modalWrap">
				        <div id="join-modalBody">
				            <div class="modal-content">
				                <div class="modal-close">
				                    <span class="material-icons">close</span>
				                </div>
				                <div class="modal-top">
				                    <h2>회 원 가 입</h2>
				                    <h4>어느 회원가입으로 하시겠습니까?</h4>
				                </div>
				                <div>
				                    <button type="button" id="customer-btn">고객</button>
				                </div>
				                <div>
				                    <button type="button" id="seller-btn">판매자</button>
				                </div>
				            </div>
				        </div>
				   	 </div>
					<a href="#" class="a">MY PAGE</a>
				</th:block>
				<!-- 고객 로그인 -->
				<th:block th:if="${session.c != null}">
					<a href="/customer/logout" class="a">LOGOUT</a>
					<a href="/customer/mypage" class="a">MY PAGE</a>
				</th:block>
 				<!-- 판매자 로그인 -->
				<th:block th:if="${session.s != null}">
					<a href="/seller/logout" class="a">LOGOUT</a>
					<a href="/seller/mypage" class="a">MY PAGE</a>
				</th:block>


			</div>
		</div>
		<div class="header-menu">
			<div class="menu1"></div>
			<div class="menu2">
				<ul class="main-menu">
					<li><a href="#">CATEGORY</a>
						<ul class="sub-menu">
							<li><a href="#">귀걸이</a></li>
							<li><a href="#">목걸이</a></li>
							<li><a href="#">반지</a></li>
							<li><a href="#">팔찌</a></li>
							<li><a href="#">시계</a></li>
							<li><a href="#">헤어</a></li>
							<li><a href="#">OTHERS</a></li>
						</ul>
					</li>
					<li><a href="#">BEST</a></li>
					<li><a href="#">NEW</a></li>
					<li><a href="#">COMMUNITY</a>
						
					</li>
				</ul>
			</div>
			<div class="menu3">
				<a href="#none"><span class="material-icons search">
					search
					</span></a>
				<a href="/customer/cart"><span class="material-icons">
					shopping_cart
					</span></a>
			</div>
		</div>
        <div class="search-box">                
            <div class="search1">                
                    <form action="/page/search">
                        <fieldset class="search2">
                            <span>검색</span>
                            <input type="text" name="productName">
                            <button>GO</button>
                            <p>
								<span class="material-icons clear">
									clear
									</span>
							</p>
								
                        </fieldset>
                    </form>                
            </div>            
        </div>
	</div>
    



	<script src="/js/search.js"></script>
</body>
</html>