<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>카테고리 바</title>
<link rel="stylesheet" href="/css/seller.css">
</head>
<body>
	<div class="prd-menu">
					<ul class="prd-menu-ul">
						<li class="prd-menu-li">
							<a href="/page/all">ALL</a>
						</li>
						<li class="prd-menu-li">
							<a href="/page/earring">EARRING</a>
						</li>
						<li class="prd-menu-li">
							<a href="/page/necklace">NECKLACE</a>
						</li>
						<li class="prd-menu-li">
							<a href="/page/ring">RING</a>
						</li>
						<li class="prd-menu-li">
							<a href="/page/bracelet">BRACELET</a>
						</li>
						<li class="prd-menu-li">
							<a href="/page/watch">WATCH</a>
						</li>
						<li class="prd-menu-li">
							<a href="/page/hair">HAIR-PRO</a>
						</li>
						<li class="prd-menu-li">
							<a href="/page/other">OTHER</a>
						</li>
					</ul>
				</div>
</body>
</html>