<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	
	<div class="page-content">
		<div class="wrap">
			<div class="content-main">
				<div class="productDetail-img">
					<img src="/img/earring/earring1.png">
				</div>
				<div class="product-content">
				
				</div>
				<div class="product_info">
				
				</div>
			</div>
			
			<div class="content-detail">
				<div class="tab">
					<ul>
						<li>구매정보</li>
						<li>상품리뷰</li>
						<li>상품댓글</li>
						<li>관련상품</li>
					</ul>
				</div>
				<div class="tab-content">
					<div class="product-detail">
						<p>구매정보</p>
					</div>
					<div>
						<p>상품리뷰</p>
					</div>
					<div>
						<p>상품댓글</p>
					</div>
					<div>
						<p>관련상품</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>