<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/productDetail.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="js/jquery-3.6.0.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	
	<div class="page-content">
		<div class="product-detail-wrap">
			<div class="content">
				<div class="content-mains">
					<div class="product-left">
						<div class="productDetail-img">
							<img th:src="'/product/'+${productDetailList.productImg}">
						</div>
					<div class="product-content" th:text="${productDetailList.productContent}"></div>					
					</div>
					<div class="product-preview">
					
						<div class="product-name">
							<div class="seller-line">
								<div class="oneline"><img th:src="'/seller/' + ${sellerImg}"></div>
								<div class="oneline-name" th:text="${sellerName}"></div>
							</div>
							<div th:text="${productDetailList.productName}"></div>
							<div class="price-part">
								<!-- <div id="currPrice" th:text="${productDetailList.productPrice}"></div> -->
								<div id="currPrice" th:text="${#numbers.formatInteger(productDetailList.productPrice,3,'COMMA')+'원'}"></div>
								<!-- <td th:text="${#numbers.formatInteger(product.productPrice,3,'COMMA')+'원'}"></td> -->
								<!-- <div class="won">원</div> -->
							</div>
						</div>
					<!-- <form action="/customer/cart" method="post"> -->
						<div class="product-info">
							<table>
								<tr>
									<th>별점</th>
									<td class="starline">
										<div class="avgStar" th:text="${avgStar}"></div>
										<div class="5points"> / 5.0</div>
									<td>
								</tr>
								<tr>
									<th>배송비</th>
									<td>무료배송 이벤트 중!</td>
								</tr>
								<tr>
									<th>배송 시작</th>
									<td>평균 4일, 최대 10일 이내</td>
								</tr>																								
							</table>
							<div class="option-dropdown">
								<div class="optionMenuLine">
								옵션 : 
								</div>
	          					<div>
		          				<select name="productOptionNo" id="productOptionNo" class="optionSelectLine">
	                				<option th:value="${productOption.productOptionNo}" th:each="productOption : ${productDetailList.productOptionList}" th:text="'사이즈 : ' + ${productOption.optionSize} +' / 색상 : ' + ${productOption.optionColor}  +'  ( 재고수량  : ' + ${productOption.optionStock}+' )'">
	                			</select>	
	          					</div>      					           													
							</div>
							<div th:if="${session.c == null}">
								<div class="customerLoginCheck">로그인 한 고객만 주문 가능합니다.</div>
								
							</div>							
							<div class="total-price" th:if="${session.c != null}">
								<div class="totalProductPriceLine">총 상품금액 : </div>
								<div class="totalProductPrice">
									<div id="price" th:text="${productDetailList.productPrice}"></div>
								</div>
								<div class="totalProductWon">원</div>
							</div>
							<div class="buy-button" th:if="${session.c != null}">
							<!-- <input class="selectOptionStock" type="number" name="selectOptionStock" min="1" max="5" step="1" value="1"> -->
								<div>
									<input class="selectOptionStock" name="selectOptionStock" id="selectOptionStock" value="1">
								</div>
									<div class="qty-buttons" style="display:table-cell;vertical-align:top;">
										<button id="btnPlus" class="qty-plus" type="button">+</button>
										<button id="btnMinus" class="qty-minus" type="button">-</button>
									</div>
								<div>
									<button type="button" class="cart">장바구니</button>
									<!-- <button class="purchase">구매하기</button> -->
									<!-- 구매하기를 누르면 장바구니 스킵하고 바로 구매페이지로 -->
								</div>
							</div>					
						</div>
						<!-- </form> -->
					</div>
				</div>
			
			<div class="content-detail">
				<div class="tab-wrap">
					<div class="tab">
					<ul>
						<li>상품소개</li>
						<li>배송안내</li>
						<li>상품리뷰</li>
						<!-- <li>관련상품</li> -->
					</ul>
					</div>
				</div>
				<div class="tab-content">
					<div class="product-detail">
						<div>
							<div class="explanation">상품 소개</div>
							<div class="product-content" th:utext="${productDetailList.productContentDetails}"></div>
						</div>
					</div>
					<div class="delivery-notice">
						<div>
							<div class="explanation">배송 안내</div>
							<div>
							<table>
								<tr>
									<td class="beforeth">배송비</td>
									<td class="txt-preline">현재 배송비 무료 이벤트 기간입니다.
									(2023.09.30 구매분까지 해당)<td>
								</tr>
								<tr>
									<td class="beforeth">제작 / 배송</td>
									<td class="txt-preline">제작 : 이미 제작된 제품이므로 주문 접수 후 바로 배송이 시작됩니다.
									배송 : 평균 4일, 최대 10일 내로 도착합니다.</td>
									
								</tr>
								<tr>
									<td class="beforeth">교환/환불</td>
									<td><span class="txt-preline">배송 실수로 인한 파손, 분실 시 문의게시판에 주문정보를 남겨주세요.
									택배사와 확인 후 재발송, 환불을 도와드리고 있습니다.
									그 외에 단순 변심으로 인한 교환 및 활불은 불가능합니다.</span></td>
								</tr>															
							</table>
							</div>							
						</div>							
					</div>
					<div class="product-review">
						<div>
							<div class="explanation">상품리뷰</div>
							<div>
								<div class="review-tbl">
									<div class="review-tbl-menu">
										<div style="width:15%">작성자</div>
										<div style="width:50%">리뷰코멘트</div>
										<div style="width:15%">별점</div>
										<div style="width:20%">작성일</div>
										<!-- <th style="width:15%">조회수</th> -->
									</div>
									<!-- 
									<tr class="tbl-row" th:each="review : ${reviewList}">
									  -->
									<div class="tbl-row" th:each="reviewList : ${productDetailList.reviewList}">
										<div style="width:15%" th:text="${reviewList.reviewWriter}"></div>
										<div style="width:50%" id="review-content" class="review-content" th:text="${reviewList.reviewContent}"></div>
										<div class="reviewStar" style="width:15%">
											<span class="avgStarReview" th:text="${reviewList.starCount}"></span>
											<span class="5pointsReview">/ 5</span>
										</div>
										<div style="width:20%" th:text="${reviewList.reviewDate}"></div>
										<!-- <td th:text="${reviewList.reviewCount}"></td> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="common/footer"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<th:block th:if="${session.c != null}">
		<script>
		const customerNo = [[${session.c.customerNo}]];
		</script>
	</th:block>
	<script>
	
	$("#btnPlus").on("click",function(){
	    const qty = $(this).parent().prev().children();
	    const currLevel = qty.val();
	    const amount = Number(currLevel)+1;
	    qty.val(amount);
	    /*const totalCost = $(this).parent().parent().parent().prev().children().eq(1);*/
	    
	    /*const price = $(this).parent().parent().prev().children().eq(1).children().eq(0);*/
	    /*const price = $(this).parent().parent().parent().prev().eq(1).eq(0);*/
	    const price = $("#currPrice").text();
	    
	    /*const price = $(#price);*/
	    
	    const totalPrice = $(this).parent().parent().prev().children().eq(1).children().eq(0);
	    
	    //totalPrice.text(price * amount);
	    

	    /*
	    const totalPrice = $(this).parent().parent().prev().children().eq(1).children().eq(0);
	    const currTotalPrice = totalPrice.text();
	    */
	    
	    /*price.text(Number(currPrice)*currLevel);*/
	    
	    //console.log(currLevel);
	    //console.log(currPrice);
	    //console.log(currTotalPrice);

	    const testprice = [[${productDetailList.productPrice}]];
	    //const testprice2 = testprice.text();
	    //console.log(testprice);
	    
	    totalPrice.text(testprice * amount);
	    
	});
	
	$("#btnMinus").on("click",function(){
	    const qty = $(this).parent().prev().children();
	    const currLevel = qty.val();
	    if(currLevel > 1){
	    	qty.val(Number(currLevel)-1);
	    	const amount = Number(currLevel)-1;
	    	const price = $("#currPrice").text();
	    	const totalPrice = $(this).parent().parent().prev().children().eq(1).children().eq(0);
	    	const testprice = [[${productDetailList.productPrice}]];
	    	totalPrice.text(testprice * amount);
	    }else{
	    	qty.val(Number(currLevel));
	    }
	});
	
	
	//장바구니 추가
	$(".cart").on("click",function(){
		
			
			const productOptionNo = $("#productOptionNo").children().val();
			const selectOptionStock = $("#selectOptionStock").val();
			
			console.log(customerNo);
			console.log(productOptionNo);
			console.log(selectOptionStock);
			
			$.ajax({
				url : "/product/cart",
				type : "get",
				data : {customerNo : customerNo, productOptionNo : productOptionNo, selectOptionStock : selectOptionStock},
				success : function(data){
					Swal.fire({
						title : "장바구니 추가 완료",
						text : "장바구니에 상품이 추가되었습니다.",
						icon : "success",
				        confirmButtonColor: '#61677A',
				        confirmButtonText: '확인',
					});
				}
			});
	});
			
	
	const tabs = document.querySelectorAll(".tab>ul>li");
	tabs.forEach(function(tab,index){
	    //li 3개에 모두 클릭이벤트 적용
	    tab.addEventListener("click",function(){
	        //추가하기 전에 li 세개 모두에게 active-tab클래스를 제거
	        tabs.forEach(function(removeTab){
	            removeTab.classList.remove("active-tab");
	        });
	        //클릭한 li에 active-tab이라는 클래스를 추가
	        tab.classList.add("active-tab");
	        //선택한 탭에 해당하는 컨텐츠를 보여주는 코드
	        const contents = document.querySelectorAll(".tab-content>div");
	        //모든 컨텐츠에 active-content클래스 제거
	        contents.forEach(function(content){
	            content.classList.remove("active-content");
	        });
	        //클릭한 li와 같은 인덱스에 있는 컨텐츠에 active-content클래스를 추가
	        //그게 바로 네번째줄의 index.
	        contents[index].classList.add("active-content");
	    });
	});

	window.onload = function(){
	    //페이지 로드가 완료되면 자동으로 실행되는 함수
	    //첫번째 탭, 첫번째 컨텐츠를 활성화
	    const activeLi = document.querySelector(".tab>ul>li:first-child");
	    const activeContent = document.querySelector(".tab-content>div:first-child");
	    activeLi.classList.add("active-tab");
	    activeContent.classList.add("active-content");
	}
	
	</script>
	
</body>
</html>