
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css"/>
    <script src="/js/jquery-3.6.0.js"></script>
    <div class="admin-menu">
        <div>
            <a href="/admin/adminLogin" class="logo">K-hit</a>
        </div>
        <div>
            <ul>
                <li>
                    <div class="admin-submenu">
                        <a href="javascript:void(0);">
                            <span class="material-icons">manage_accounts</span>
                            <span>관리</span>
                        </a>
                    </div>
                    <div class="sub-choice">
                        <ul>
                            <li><a href="/admin/member?memberCode=1&input=">소비자</a></li>
                            <li><a href="/admin/member?memberCode=2&input=">판매자</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="admin-submenu">
                        <a href="javascript:void(0);">
                            <span class="material-icons">flaky</span>
                            <span>상품관리</span>
                        </a>
                    </div>
                    <div class="sub-choice">
                        <ul>
                            <li><a href="/admin/product?categoryNo=0&input=&productCheck=1">검수 상품</a></li>
                            <li><a href="/admin/product?categoryNo=0&input=&productCheck=2">판매 필요</a></li>
                            <li><a href="/admin/product?categoryNo=0&input=&productCheck=3">반려 상품</a></li>
                            <li><a href="/admin/product?categoryNo=0&input=&productCheck=4">판매 중지 상품</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="admin-submenu">
                        <a href="/admin/sales">
                            <span class="material-icons">insert_chart_outlined</span>
                            <span>통계</span>
                        </a>
                    </div>
                    <div class="sub-choice">
                    </div>
                </li>
                <li>
                    <div class="admin-submenu">
                        <a href="javascript:void(0);">
                            <span class="material-icons">notifications</span>
                            <span>공지사항</span>
                        </a>
                    </div>
                    <div class="sub-choice">
                        <ul>
                            <li><a href="/admin/noticeFrm">작성</a></li>
                            <li><a href="/admin/noticeList?noticeFix=2&input=">삭제</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="admin-submenu">
                        <a href="javascript:void(0);">
                            <span class="material-icons">support_agent</span>
                            <span>문의사항</span>
                        </a>
                    </div>
                    <div class="sub-choice">
                        <ul>
                            <li><a href="/admin/question">전체 문의 사항</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modify">
            <a href="/admin/modify">정보수정</a>
            <a href="/admin/logout">로그아웃</a>
        </div>
    </div>
