<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="/js/jquery-3.6.0.js"></script>
<body>
	<form action="/admin/login" method="post">
	                <div class="login-content">
	                    <div class="login-inputbox">
	                        <input type="text" name="adminSignId" id="adminSignId" class="input-form" placeholder="아이디를 입력하세요"  required>
	                    </div>
	                    <div class="login-inputbox">
	                        <input type="password" name="adminSignPw" id="adminSignPw" class="input-form" placeholder="비밀번호를 입력하세요" required>
	                    </div>
	                <div class="login-button">
	                    <button type="submit">LOGIN</button>
	                </div>
	    </form>
	    <script>
	    $(function(){
	    	$("#adminSignId").val('admin');
	    	$("#adminSignPw").val('1234');
	    	$(".login-button>button").click();
	    	
	    })
	    </script>
</body>
</html>