<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 페이지</title>
</head>
<body>
    <div>
        <div>
            <h1>K-hit</h1>
        </div>
        <div>
            <ul>
                <li>
                    <span>사용자 관리</span>
                    <div>
                        <ul>
                            <li>소비자</li>
                            <li>판매자</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>상품 관리</span>
                    <ul>
                        <li>판매 상품</li>
                        <li>검수 필요</li>
                        <li>반려 상품</li>
                        <li>판매 중지 상품</li>
                    </ul>
                </li>
                <li>
                    <span>통계</span>
                    <ul>
                        <li>총 매출</li>
                        <li>판매자 수익</li>
                        <li>소비자 매출</li>
                    </ul>
                </li>
                <li>
                    <span>공지사항</span>
                    <ul>
                        <li>작성</li>
                        <li>수정 삭제</li>
                    </ul>
                </li>
                <li>문의사항</li>
            </ul>
        </div>
    </div>
</body>
</html>