<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>회원 관리<span th:if="${code}==1"> (소비자)</span><span th:if="${code}==2"> (판매자)</span></span>
            </div>
            <div class="content-view">
                <div class="member-box box">
                    <form action="/admin/member" class="search-box">
                        <input type="hidden" th:value="${code}" id="memberCode" name="memberCode">
                        <input type="text" id="member" name="input" placeholder="아이디로 회원 검색">
                        <button class="add-btn">검색</button>
                    </form>
                    <table  style="width: 90%" class="tbl menu-tbl">
                        <tr>   
                            <th style="width:20%">번호</th>
                            <th style="width:25%">아이디</th>
                            <th style="width:25%">이름</th>
                            <th style="width:30%">가입일</th>
                        </tr>
                    </table>
                    <table style="width:90%;" class="tbl product-tbl">
                        <tr th:if="${code}==1" th:each="list : ${list}" class="product-select cMenuSel">
                            <td th:text="${list.customerNo}" style="width:20%"></td>
                            <td th:text="${list.customerId}" style="width:25%"></td>
                            <td th:text="${list.customerName}" style="width:25%"></td>
                            <td th:text="${list.customerEnrolldate}" style="width:30%"></td>
                        </tr>
                        <tr th:if="${code}==2" th:each="list : ${list}" class="product-select sMenuSel">
                            <td th:text="${list.sellerNo}" style="width:20%"></td>
                            <td th:text="${list.sellerId}" style="width:25%"></td>
                            <td th:text="${list.sellerName}" style="width:25%"></td>
                            <td th:text="${list.sellerEnrollDate}" style="width:30%"></td>
                        </tr>
                        <!-- 
                        -->
                    </table>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="/admin/modal"></th:block>
    <script src="/js/admin.js"></script>
</body>
</html>