
<div class="modal-wrap ">
	<div class="modal-inpo pModal">
		<button style="height: 50px; width: 50px" class="delModal">X</button>
		<table class="tbl modal-tbl">
			<tr>
				<td rowspan="3" style="height: 300px; width: 300px;" class="mImgP">
					<img style="height: 100%; width: 100%;"
					src="스크린샷 2023-07-19 210802.png" alt="">
				</td>
				<td colspan="2" class="mNameP">
					<h2>상품 이름이름</h2>
				</td>
			</tr>
			<tr>
				<td class="mSellerIdP">
					<h3>판매자</h3>
				</td>
				<td class="mRegDateP">
					<h3>등록일</h3>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="mPriceP">
					<h2>상품 가격</h2>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 100px" class="mContentP">
					<h3>상품 한줄 소개</h3>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 150px" class="mContentDetailP">
					<h3>상품 상세소개</h3>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 150px" class="mOptionP">상품 옵션</td>
			</tr>
		</table>
	</div>
	<div class="modal-inpo sModal">
		<button style="height: 50px; width: 50px" class="delModal">X</button>
		<table class="tbl modal-tbl">
			<tr>
				<td rowspan="2" style="height: 300px; width: 300px;" class="mImgS">
					<img style="height: 100%; width: 100%;"
					src="스크린샷 2023-07-19 210802.png" alt="">
				</td>
				<td class="mIdS">
					<h2>아이디</h2>
				</td>
				<td class="mRegDateS">
					<h2>가입일</h2>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="mEmailS">
					<h3>이메일</h3>
				</td>
			</tr>
			<tr>
				<td style="height: 100px" class="mNameS">
					<h3>이름</h3>
				</td>
				<td colspan="2" style="height: 100px" class="mPhoneS">
					<h3>전화번호</h3>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 150px" class="mIntroduceS">
					<h3>자기소개</h3>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 150px" class="mProductS">판매중인 상품</td>
			</tr>
		</table>
	</div>
	
	
	<div class="modal-inpo cModal">
		<button style="height: 50px; width: 50px" class="delModal">X</button>
		<table class="tbl modal-tbl">
			<tr>
				<td class="mIdC">
					<h2>아이디</h2>
				</td>
				<td style="height: 100px" class="mNameC">
					<h3>이름</h3>
				</td>
				<td class="mRegDateC">
					<h2>가입일</h2>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="mEmailC">
					<h3>이메일</h3>
				</td>
				<td colspan="2" style="height: 100px" class="mPhoneC">
					<h3>전화번호</h3>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 150px" class="mProductC">구매한 상품 목록</td>
			</tr>
		</table>
	</div>
</div>
