<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>정보수정</span>
            </div>
            <div class="content-view">
                <div class="box">
                    <form action="/admin/modifyGo" method="post">
                    	<table>
                    		<tr>
                    			<td>
                    			비밀번호
                    			</td>
                    			<td>
                    			<input type="password" placeholder="변경할 비밀번호 입력" required name="pw">
                    			</td>
                    		</tr>
                    		<tr>
                    			<td>
                    			비밀번호 확인
                    			</td>
                    			<td>
                    			<input type="password" placeholder="비밀번호 다시 입력" required name="pwCk">
                    			</td>
                    		</tr>
                    		<tr>
                    			<td>
                    			전화번호
                    			</td>
                    			<td>
                    			<input type="text" placeholder="변경할 전화번호 입력" required name="phone">
                    			</td>
                    		</tr>
                    		<tr>
                    			<td colspan="2">
                    				<input type="submit" value="변경">
                    			</td>
                    		</tr>
                    	</table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>