<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
	.modifybox{
		width: 600px;
		margin: auto;
	}
	input{
		text-align: center;
	}
	.btnB{
		width: 100px;
		margin: 10px auto;
    	display: block;
	}
</style>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>정보수정</span>
            </div>
            <div class="content-view">
                <div class="box">
                <div class="modifybox">
                    <form action="/admin/modifyGo" method="post" class="adminModify">
                    	<table>
                    		<tr>
                    			<th width="20%">
                    			</th>
                    			<th width="80%">
                    			</th>
                    		</tr>
                    		<tr>
                    			<td>
                    			비밀번호
                    			</td>
                    			<td>
                    			<input type="password" placeholder="변경할 비밀번호 입력" required name="pw" style="width: 100%">
                    			</td>
                    		</tr>
                    		<tr>
                    			<td>
                    			비밀번호 확인
                    			</td>
                    			<td>
                    			<input type="password" placeholder="비밀번호 다시 입력" required name="pwCk" style="width: 100%">
                    			</td>
                    		</tr>
                    		<tr>
                    			<td width="20%">
                    			전화번호
                    			</td>
                    			<td width="80%">
                    			<input type="text" placeholder="010-1111-1111" required name="phone" style="width: 100%"  maxlength='13'>
                    			</td>
                    		</tr>
                    		<tr>
                    			<td colspan="2">
                    				<input type="button" value="변경" class="btnB">
                    				<input type="submit" value="변경" style="display: none;" class="btnS">
                    				
                    			</td>
                    		</tr>
                    	</table>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
    <script>
    	$(".btnB").on('click',function(){
    		if($("[name=pw]").val()==$("[name=pwCk]").val()){
    			$(".btnS").click();
    		}else{
    			alert("입력값을 확인하세요");
    		}
    	})
    </script>
</body>
</html>