<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>공지사항</span>
            </div>
            <div class="content-view">
                <div class="notice-box box">
                    <form action="/admin/noticeList" class="select-box">
                        <select name="noticeFix" id="noticeFix" class="cNo">
                            <option value="2">전체</option>
                            <option value="1">고정</option>
                            <option value="0">비고정</option>
                        </select>
                        <input type="text" id="noticeTitle" name="input" placeholder="공지사항 검색">
                        <button class="add-btn">검색</button>
                    </form>
                    <table style="width: 90%" class="tbl menu-tbl">
                    	<tr class="th-inpo">
                    		<th style="width: 10%">번호</th>
                    		<th style="width: 80%">제목</th>
                    		<th style="width: 10%">고정유무</th>
                    	</tr>
                    </table>
                    <table style="width: 90%" class="tbl product-tbl">
                    	<tr th:each="list : ${list}" class="product-select nSelect">
                    		<td th:text="${list.noticeNo}" style="width: 10%"></td>
                    		<td style="width: 80%" th:text="${list.noticeTitle}"></td>
                    		<td th:if="${list.noticeFix}==0" style="width: 10%">비고정</td>
                    		<td th:if="${list.noticeFix}==1" style="width: 10%">고정</td>
                    	</tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="/admin/modal"></th:block>
    <script src="/js/admin.js"></script>

</body>
</html>