<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>상품관리</span>
            </div>
            <div class="content-view">
                <div class="box">
                    <form action="/admin/product" class="select-box">
                    	<input type="hidden" th:value="${productCheck}" name="productCheck" id="productCheck">
                        <select name="categoryNo" id="categoryNo">
                            <option value="0">전체</option>
                             <option th:each="category : ${category}" th:value="${category.categoryNo}" th:text="${category.categoryName}"></option>
                        </select>
                        <input type="text" id="product" name="input" placeholder="상품 검색">
                        <button class="add-btn">검색</button>
                    </form>
                    <table style="width: 90%" class="tbl menu-tbl">
                    	<tr class="th-inpo">
                    		<th style="width: 10%">번호</th>
                    		<th style="width: 40%">이름</th>
                    		<th style="width: 20%">판매자</th>
                    		<th style="width: 20%">카테고리</th>
                    		<th style="width: 10%">검수현황</th>
                    	</tr>
                    </table>
                    <table style="width: 90%" class="tbl product-tbl">
                    	<tr th:each="product : ${product}" class="product-select pSelect">
                    		<td th:text="${product.productNo}" style="width: 10%"></td>
                    		<td th:text="${product.productName}" style="width: 40%"></td>
                    		<td style="width: 20%"><a th:text="${product.sellerId}" href="javascript:void(0);" class="seller-menu sMenu"></a></td>
                    		<td th:text="${product.categoryName}" style="width: 20%"></td>
                    		<td th:if="${product.productCheck}==1" style="width: 10%">판매중</td>
                    		<td th:if="${product.productCheck}==2" style="width: 10%">검수중</td>
                    		<td th:if="${product.productCheck}==3" style="width: 10%">반려</td>
                    		<td th:if="${product.productCheck}==4" style="width: 10%">판매중지</td>
                    	</tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal-wrap">
    	<div class="modal-inpo">
    		<button style="height: 50px; width: 50px" class="delModal">X</button>
    		<table class="tbl modal-tbl">
				<tr>
					<td rowspan="3" style="height: 300px; width: 300px;"><img style="height: 100%; width: 100%;" src="스크린샷 2023-07-19 210802.png" alt=""></td>
					<td colspan="2"><h2>상품 이름이름</h2></td>
				</tr>
				<tr>
					<td><h3>판매자</h3></td>
					<td><h3>등록일</h3></td>
				</tr>
				<tr>
					<td colspan="2"><h2>상품 가격</h2></td>
				</tr>
				<tr>
					<td colspan="3" style="height: 100px"><h3>상품 한줄 소개</h3></td>
				</tr>
				<tr>
					<td colspan="3" style="height: 150px"><h3>상품 상세소개</h3></td>
				</tr>
				<tr>
					<td colspan="3" style="height: 150px">상품 옵션</td>
				</tr>
			</table>
    	</div>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>