<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>상품관리</span>
            </div>
            <div class="content-view">
                <div class="box">
                    <form action="/admin/product" class="search-box">
                        <select name="productCategory" id="productCategory">
                            <option value="%">전체</option>
                        </select>
                        <input type="text" id="product" name="input" placeholder="상품 검색">
                        <button class="add-btn">검색</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>