<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>문의사항</span>
            </div>
            <div class="content-view">
                <div class="question-box box">
                    <form action="/" class="search-box">
                        <input type="text" id="question" name="question" placeholder="문의 사항 검색">
                        <button>검색</button>
                    </form>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>