<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-wrap">
        <th:block th:include="/admin/adminMenu"></th:block>
        <div class="admin-content">
            <div class="content-logo">
                <span>문의사항</span>
            </div>
            <div class="content-view">
                <div class="question-box box">
                    <div class="search-box">
                        <input type="text" id="question" name="input" placeholder="문의 사항 검색">
                        <button class="add-btn">검색</button>
                    </div>
                    <div class="list Qlist">
                        <div>
                            <div>번호</div>
                            <div>제목</div>
                            <div>작성자</div>
                            <div>작성일</div>
                            <div>응답</div>
                            <div>고정</div>
                        </div>
                    </div>
                    <div class="question-list list">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>