<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>review List</title>
<link rel="stylesheet" href="/css/review.css">
<link rel="stylesheet" href="/css/font.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="review-all-wrap">
        <div class="review-wrap">
            <div class="review-title">
                <h2 class="title1">REVIEW</h2>
            </div>
            <div class="review-content">
                <div class="review-info2">
                    <div class="review-list-content">
                        <div class="review-list-image"></div>
                        <div class="review-list-productName">상품이름</div>
                        <div class="review-list-mid">
                            <span class="material-icons">star</span>
                            <span class="material-icons">star</span>
                            <span class="material-icons">star</span>
                            <span class="material-icons">star</span>
                            <span class="material-icons">star</span>
                            <span class="review-list-customerId">구매자아이디</span>
                        </div>
                        <div class="review-list-detail">후기후기후기후기후기</div>
                    </div>
                </div>
            </div>
            <div class="list-btn">
                <button class="btn1 addBtn">더보기</button>
            </div>
        </div>
    </div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>