<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항전체리스트</title>
<link rel="stylesheet" href="/css/qna.css">
	<link rel="stylesheet" href="/css/seller.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="page-content">
				<div class="seller-header">
					<span class="move">NOTICE</span>
				</div>
			<div class="qna-wrap">
				<table class="qna">
					<tr class="qna-tr">
						<th style="width:10%">번호</th>
						<th style="width:45%">제목</th>
						<th style="width:15%">작성자</th>
						<th style="width:20%">작성일</th>
						<th style="width:10%">조회수</th>
					</tr>
					<tr th:each="list : ${list}">
						<td th:text="${list.noticeNo}"></td>
						<td >
							<a th:href="@{/notice/noticeView(noticeNo=${list.noticeNo})}" th:text="${list.noticeTitle}"></a>
						</td>
						<td th:text="${list.noticeWriter}"></td>
						<td th:text="${list.noticeDate}"></td>
						<td th:text=${list.noticeReadCount}></td> 
					</tr>
				</table>
				<div id="pageNavi" th:utext="${pageNavi}"></div>
			</div>
		</div>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>