@charset "UTF-8";

@font-face{
    font-family: Lobster;
    src: url(../font/Lobster-Regular.ttf);
}
@font-face {
    font-family: ns-b;
    src: url(/font/NanumGothic-Bold.ttf);
}
body{
    background-color:  rgb(255,246,224,0.3);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
    outline: none;
    font-family: ns-b;
}
.admin-wrap{
    overflow: hidden;
}

.admin-menu{
    background-color: rgb(255,246,224,0.3);
	left:0;
	top:0;
	position:fixed;
    height: 100vh;
    width: 250px;
    border-right: 1px solid black;
    overflow: hidden;
}
.logo{
    display: block;
    height: 60px;
    width: 100%;
    font-family: Lobster;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.admin-submenu{
    font-size: 20px;
    line-height: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: #FFF6E0;
}
.admin-submenu>a{
    padding-left: 20px;
    display: block;
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.admin-submenu>a>span{
    line-height: 50px;
    float: left;
    display: block;
    margin-right: 10px;
}
.sub-choice{
    /*
    */
    display: none;
    border-bottom: 1px solid black;
}
.sub-choice>ul{

}
.sub-choice>ul>li>a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}
.modify{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.modify>a{
    text-align: center;
    font-size: 20px;
    float: left;
    display: block;
    width: calc(100%/2);
}

/* 여기까지 기본 서브메뉴*/
.tbl{
    margin: auto;
    background-color: #cccccc;

}
.tbl>tbody>tr>th{
	height: 50px;
}
.tbl>tbody>tr>td{
    text-align: center;
}
.menu-tbl{
}
/* 중복으로 사용할 것*/

.admin-content{
	padding-left:250px;
}

.content-logo{
    background-color: #FFF6E0;
}
.content-logo>span{
    display: block;
    height: 100px;
    font-size: 30px;
    width: 1000px;
    line-height: 100px;
    margin-left: 20px;
}
.content-view{
    padding-top: 50px;
   	overflow: auto;
    height:calc(100vh - 150px)

}

.box{
    width: 100%;
    padding: 20px 0;
    margin: auto;
    min-width : 1200px;
}
.search-box{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 10px;
}
.search-box>*{
    box-sizing: border-box;
    float: left;
    font-size: 24px;
}
.search-box>input{
    width: 80%;
    padding: 10px 30px;
    height: 60px;
}
.search-box>button{
    width: 20%;
    height: 60px;
    border: none;
    font-weight: 900;
    cursor: pointer;
    background-color: #FFF6E0;
}
.select-box{
	width: 90%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 10px;
}
.select-box>*{
	box-sizing: border-box;
    float: left;
    font-size: 24px;
}
.select-box>select{
	width: 20%;
    height: 60px;
}
.select-box>input{
	width: 60%;
    padding: 10px 30px;
    height: 60px;
}
.select-box>button{
	width: 20%;
    height: 60px;
    background-color: #FFF6E0;
   	font-weight: 900;
    cursor: pointer;
}
.list>div{
    overflow: hidden;
    width: 90%;
    margin: auto;
    background-color: beige;
}

.product-tbl{
    padding: 0 5% ;
    border-collapse: collapse;
    background-color: #eeeeee;
}
.product-tbl>tbody>tr{
	height: 50px;
	border-top: 2px solid black;
}
.product-select:hover{
	background-color: #cccccc;
}
.seller-menu{
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: block;
}
.seller-menu:hover{
	background-color:#FFF6E0; 
}
.modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    top:  0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-inpo{
	width: 600px;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	height: 90vh;
    overflow: auto;
}
.modal-inpo>button{
	float: right;
}
.modal-tbl{
	width: 100%;
}
.modal-tbl>tbody>tr>td{
    border: 1px solid black;
}