@charset "UTF-8";

@font-face{
    font-family: Lobster;
    src: url(../font/Lobster-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.admin-wrap{
    overflow: hidden;
}

.admin-menu{
	left:0;
	top:0;
	position:fixed;
    height: 100vh;
    width: 250px;
    background-color: aqua;
}
.logo{
    font-family: Lobster;
    font-size: 50px;
}
.admin-submenu{
    display: block;
}
.admin-content{
	padding-left:250px;
}
