*{
    margin: 0;
    padding: 0;
    font-family: ns-r;
    color: #1e1e1e;
}

.title1{
    text-align: center;
    margin: 100px 0;
}

.cancel-content>h3{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.cancel-wrap{
    border-radius: 10px;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
}
.content-info>.cancel{
    width: 1000px;
    overflow: hidden;
}
.cancel-content>hr{
    border: 2px solid #dee2e6;
}

.content-info>.cancel{
    width: 1000px;
    overflow: hidden;
}

.content-info>.cancel>div{
    float: left;
}
.content-info>.cancel:first-child>div{
    height: 40px;
}
.info-top>.info1{
    text-align: center;
    /* display: none; */
} 

.info1>input{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.info-top>div{
    text-align: center;
    line-height: 40px;
}

.info-top>div>span{
    font-size: 20px;
    font-family: ns_m;
    color: #0c0c0c;
}
/* 테이블 간 넓이 */
.cancelTbl{
	width: 100%;
	border-collapse: collapse;
}

.info1,.info6{
    width: 12.5%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info2{
    width: 40%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info3,.info4,.info5{
    width: 16%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info-main{
    border-bottom: 3px solid #ccc;
}
.info-main>.info1{
    text-align: center;
    line-height: 150px;
}
.info-main>.info1>span{
    text-align: center;
    line-height: 150px;
    font-weight: bold;
}
/* .info-main>.info2>.info-img{
    margin: 25px;
}
.info-main>.info2 img{
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
} 보류 */
.info-main>.info2{
    overflow: none;
    height: 150px;
}

.info-name{
    padding: 45px 0px 50px 0px;
}
.info-name>span{
    font-family: ns_b;
    font-size: 20px;
}
.info-name>div>span{
    font-size: 13px;
    font-family: ns_m;
    color: brown;
}

.info-main>.info3{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}

.info-main>.info4{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}
.info-main>.info5{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}
.info-main>.info6{
    text-align: center;
    line-height: 150px;
    font-size: 14px;
    font-family: ns_r;
}

/* 취소 / 환불 페이지 */
.cancel-way-content>h3{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.cancel-way-content>hr{
    border: 2px solid #dee2e6;
}
.cancel-way{
    padding : 50px 0px 50px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.cancel-way>span{
    padding: 10px 0px 10px 0px;
    text-align: left;
    display: block;
}
.cancel-way>span>input{
    display: inline;
    line-height: 10px;
    position: relative;
    width: 20px;
    height: 20px;

}
.canceldescription{
    resize: none;
    width: 1000px;
    height: 200px;
}
/* 버튼 */
.total-cancel-btn{
    text-align: center;
    padding-top: 50px;
}
.total-cancel-btn>button{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    height: 60px;
    background-color: #ccc;
    color: #0c0c0c;
    border-radius: 5px;
    border : none;
}
.total-cancel-btn>button:hover{
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
}