*{
    margin: 0;
    padding: 0;
    font-family: ns-r;
    color: #1e1e1e;
}
.content-title>span {
    font-family: ns-eb;
    letter-spacing: 3px;
}

/* 테이블 간 넓이 */
.cancelRefundTbl{
	width: 100%;
	border-collapse: collapse;
}

.info1,.info6{
    width: 12.5%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info2{
    width: 40%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info3,.info4,.info5{
    width: 16%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}


.content-info>.order{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
.content-info>.order>div{
    float: left;
}
.content-info>.order:first-child>div{
    height: 40px;
}
.cr-info-top>.info1{
    text-align: center;
   
} 

.info-main{
    border-bottom: 3px solid #ccc;
   
}
.info-main>.info1{
    text-align: center;
    line-height: 150px;
    font-weight: bold;
}
.info-main>.info2>.info-img{
    margin: 25px;
    float: left;
}
.info-main>.info2 img{
     width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.info-main>.info2{
    overflow: none;
    height: 150px;
}

.info-name{
    padding: 50px 0px 50px 0px;
     text-align : left;
}
.info-name>span{
    font-family: ns_b;
    font-size: 20px;
}
.info-name>div>span{
    font-size: 13px;
    font-family: ns_m;
    color: brown;
}

.info-main>.info3{
    overflow: hidden;
    padding : 60px 15px 60px 15px;
    box-sizing: border-box;
}

.info-main>.info3>span{
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
}
.info-main>.info4{
    text-align: center;
    line-height: 140px;
    font-size: 18px;
    font-family: ns_r;
}
.info-main>.info5{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: ns_r;
}

/* 버튼 */
.total-cancel-btn{
    text-align: center;
    padding-top: 50px;
}
.total-cancel-btn>button{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    height: 60px;
    background-color: #ccc;
    color: #0c0c0c;
    border-radius: 5px;
    border : none;
}
.total-cancel-btn>button:hover{
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
}
.crBtn{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    height: 60px;
    background-color: #ccc;
    color: #0c0c0c;
    border-radius: 5px;
    border : none;
}
.crBtn:hover{
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
}