*{
    margin: 0;
    padding: 0;
    font-family: ns-r;
    color: #1e1e1e;
}
.title1{
    text-align: center;
    margin: 100px 0;
}
.cart-wrap{
    border-radius: 10px;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
}
.tbl-info>.cart{
    width: 1000px;
    overflow: hidden;
}

/* 테이블 간 넓이 */
.cartTbl{
	width: 100%;
	border-collapse: collapse;
}

.info1,.info6{
    width: 10%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info2{
    width: 50%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    overflow: hidden;
}
.info-main>.info2>.info-img{
    margin: 25px;
    float: left;
}
.info-main>.info2 img{
     width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.info-name{
	float: left;
}
.info3,.info4,.info5{
    width: 10%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}

/* 선택 체크박스 */
.info1>input{
    width: 20px;
    height: 20px;
    margin: 10px;
}

/* 상품정보 img 보류 */
/* .info2info-img{
    margin: 25px;
    display: block;
}
.info2 img{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 5px;
} */

/* 상품 이름 */
.info-name{
    padding: 50px 0px 50px 0px;
}
.info-name>span{
    font-family: ns_b;
    font-size: 20px;
}
.info-name>div>span{
    font-size: 13px;
    font-family: ns_m;
    color: brown;
}

/* 수량 버튼 */
.info-main>.info3{
    padding : 60px 15px 60px 15px;
    box-sizing: border-box;
}
.info{
	text-align: center;
}
.info3>div{
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
}

/* .상품금액 */
.info-main>.info4{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}
.info-main>.info5{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}
.info-main>.info6{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}
/* <!-- 장바구니 전체 선택 및 버튼 --> */
.info-bottom{
    height: 40px;
    overflow: hidden;
    line-height: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-bottom>div{
    line-height: 51px;
    float: left;
    width: 75px;
    text-align: center;
}
.info-bottom>div>input{
    width: 20px;
    height: 20px;
}
.info-bottom>label{
    line-height: 40px;
    padding-right: 10px;
    font-size: 15px;
    font-family: ns_r;
}
.info-bottom>button{
    height: 20px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
    border-left: 3px solid lightgray;
    font-family: ns_r;
    font-size: 15px;
}
/* 총 구매금액 */
.content-amount{
    margin: 0 auto;
    border : solid 1px lightgray;
    border-radius: 5px;
    width: 800px;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom : 20px
}
.content-amount>div{
    float: left;
}
.amount{
    width: 24%;
    text-align: center;
}
.amount>div:first-child{
    font-family: ns_r;
    font-size: 18px;
}
.amount>div:last-child{
    font-family: ns_b;
    font-size: 20px;
    font-weight: bold;
}
.sign{
    width: 5%;
    text-align: center;
    padding-top: 15px;
    padding-right: 8px;
}
.order{
    width: 40%;
    text-align: center;
    padding-top: 5px;
}
.order>div:first-child{
    font-family: ns_b;
    font-size: 21px;
}
.order>div:last-child{
    font-family: ns_black;
    font-size: 28px;
    color: #0c0c0c;
    font-weight: bold;
    padding: 0px 23px 0px 15px;
}
.order>div{
    display: inline;
}

/* 계속 쇼핑하기, 구매하기 버튼 */
.content-bottom{
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-bottom: 100px;
}
.content-bottom>button{
    width: 220px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-family: ns_b;
    font-size: 20px;
    color: #282828;
    background-color: rgb(224, 224, 224);
}
.content-bottom>button:hover{
    font-family: ns_b;
    font-size: 20px;
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
}
.info-bottom>label:hover{
    cursor: pointer;
}
.info-bottom>button{
    cursor: pointer;
}
.info-main>.info6>button{
    border: none;
    background-color: transparent;
}
.info-main>.info6>button:hover{
    cursor: pointer;
}



