@charset "UTF-8";

/*
    헤더 로고
*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: ns-r;
    color:#111111;
    list-style-type: none;
}

  .page-content{
	min-height:80vh;
  }
.header-wrap{
    width: 100%;
    height: 155px;
    min-width: 1600px;    
}
.header-title{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    text-align: center;   
    min-width: 1600px; 
}
.header-space{
    width: calc(100% / 3);
    height: 100%;
    display: block;
    float: left;
}
.header-logo{
    width: calc(100% / 3);
    height: 100%;
    display: block;
    float: left;
    line-height: 75px;
}
.header-logo>a{
    font-family: lob;
    font-size: 50px;
    height: 100%;
    width: 100px;
    
}
.header-category{
    line-height: 75px;
    width: calc(100% / 3);
    height: 100%;
    display: block;
    float: right;
    font-size: 13px;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 60px;
}
.header-category > a{
    float: right;
    color:#999;
    padding-right: 30px;
}
/*
    헤더 메뉴
*/
.header-menu{
    width: 100%;
    height: 50%;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
}
/* menu1=여백*/
.menu1{
    height: 100%;
    width: 20%;
    display: block;
    float: left;
}
/*menu2= 카테고리 메뉴*/
.menu2{
    height: 100%;
    width: 60%;
    display: block;
    float: left;
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}
.main-menu>li{
    display: block;
    float: left;
    width: calc(100% /4);
    height: 100%;
    text-align: center;
    line-height: 75px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
}
.main-menu>li>a{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    font-family: ns-eb;
}

/* 메뉴 효과주기*/
.main-menu>li:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
/*menu3 = 장바구니,검색*/
.menu3{
    height: 100%;
    width: 20%;
    display: block;
    float: left;
    text-align: center;
   
    overflow: hidden;  
}
.menu3>a{
    width: 40px;
    height: 40px;
    display: block;
    float: right;
    padding-right: 15px;
    line-height: 90px;  
}
.menu3>a>span{
    width: 90%;
    height: 90%;    
}
.menu3>a:first-child{
    padding-right: 80px;
}
.sub-menu{
   display:none;
}

/* 검색 창 */
.search-box{
    display:none;
    color: #ececec;
    height: 230px;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 10px 10px -5px;
}
.search1{
    height: 100%;   
    width: 60%;
    text-align: center;    
    margin: 0 auto;
}
.search2{
    height: 40px;
    width: 900px;
    border: none;
    margin: 0 auto;
    border-bottom: 2px solid #111111;
    line-height: 40px;
    padding-top: 100px;
    
}
.search2>input{
    width: 80%;
    height: 30px;
    border: none;
    font-size: 23px;
    padding-left: 30px;
    padding-right: 30px;
}
.search2>span{
    font-size: 23px;
    width: 10%;
    font-family: ns-b;
    
}
.search2>p{
    display: inline-block;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}
.search2:last-child:hover{
    cursor: pointer;
}
.clear{
    box-sizing: border-box;
    
    margin-top: 10px;
    font-size: 23px;
    color: #999;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all ease 1s;
}
.clear:hover{
    transform: rotate(180deg);
}
/* 풋터 */
.footer-wrap{
    overflow: hidden;
    box-sizing: border-box;
    min-width: 1600px;
    
}
.footer-company{    
    height: 250px;
    width: 60%;
    display: block;
    padding-left: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-top: 1px solid #ececec;
    float: left;
}
.footer-title{
    padding-bottom: 13px;
}
.footer-title span{
    font-family: ns-eb;
    font-weight: 900;
    font-size: 25px;
}
.footer-info{
    padding-bottom: 25px;
}
.footer-info>a{
    font-family: ns-b;
}
.footer-info2{
    font-size: 13px;    
}
.footer-company2{    
    height: 250px;
    width: 40%;
    display: block;
    padding-right: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-top: 1px solid #ececec;
    float: left;    
}
