*{
	margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    font-family: ns-r;
}

.signup{
    width: 650px;
    margin: 0 auto;
    

}
.title1{
    text-align: center;
    margin: 100px 0;
}
.all-agree{
    margin-top: 100px;
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
}
.agreebox>div{
    margin: 30px 0;
    height: 250px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.agreebox-content{
    width: 550px;
    height: 120px;
    overflow: auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 auto;
}
.agreebox>div>h4{
    margin: 10px 0;
    padding-left: 30px;
}
.agreecheck-buttom{
    margin: 10px 0;
    padding-left: 30px;
}
.signup-btn{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}
.btn1{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-family: ns-b;
    margin: 0 5px;
    color: #272829;
    background-color: #D8D9DA;
}
.btn1:hover{
    background-color: #61677A;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
}
.join-input{
    margin-bottom: 15px;
}
.join-input>label{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #0c0c0c;
    font-size: 16px;
    font-family: ns-b;
}
.join-input>input{
    width: 350px;
    height: 40px;
    padding-left: 15px;
    font-size: 15px;
    font-family: ns-r;
    color: #0c0c0c;
    box-sizing: border-box;
}
.dup-btn{
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-family: ns-b;
    color: #272829;
    background-color: #D8D9DA;
    border: none;
    border-radius: 3px;
}
.dup-btn:hover{
    background-color: #61677A;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
}
.mail-center{
    padding: 0 10px;
    font-size: 20px;
}
.join-input>.short-input{
    width: 150px;
    
}
.email-choice{
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-family: ns-b;
    color: #0c0c0c;
}

.signinfo-content{
    display: none;
}

.join-textarea{
    margin-bottom: 15px;
    overflow: hidden;
}
.textarea-title{  
    display: block;
    float: left;  
    width: 150px;
    height: 300px;
    line-height: 300px;
}
.textarea-title>label{
    color: #0c0c0c;
    font-size: 16px;
    font-family: ns-b;
    
}
textarea.input-form {
    resize: none;
    min-height: 300px;
    min-width: 480px;
    box-sizing: border-box;    
    padding-left: 15px;
    font-size: 15px;
    font-family: ns-r;
    color: #0c0c0c;
  }
  .join-input{
    overflow: hidden;
  }
.img-title{
    display: block;
    float: left;
    width: 150px;
    height: 200px;
    line-height: 200px;
}
.img-title>label{
    color: #0c0c0c;
    font-size: 16px;
    font-family: ns-b;
}
.img-div{
    display: block;
    float: left;
    border: 1px solid #0c0c0c;
    min-height: 300px;
    min-width: 480px;
    box-sizing: border-box;
}


 
 .joinCheck{
 	padding-top: 5px;
 	padding-left: 150px;
 }

