*{
    margin: 0;
    padding: 0;
    font-family: ns-r;
    color: #1e1e1e;
}

.title1{
    text-align: center;
    margin: 100px 0;
}

.payment-content>h3{
    font-size: 20px;
    padding-bottom: 20px;
    
}
.payment-wrap{
    background-color: white;
    width: 1000px;
    margin: 0 auto;
}

.content-info>.payment{
    width: 1000px;
    overflow: hidden;
}
.payment-content>hr{
    border: 2px solid #0c0c0c;
}

.content-info>.payment{
    width: 1000px;
    overflow: hidden;
}

.content-info>.payment>div{
    float: left;
}
.content-info>.payment:first-child>div{
    height: 40px;
}

.info-top>div{
    text-align: center;
    line-height: 40px;
}
.info-top{
    border-bottom: 3px solid #ccc;

}
.info-top>div>span{
    font-size: 20px;
    font-family: ns_m;
    color: #0c0c0c;
}

.content-info>.payment>.info1{
    width: 40%;
}
.content-info>.payment>.info2{
    width: 15%;
}
.content-info>.payment>.info3{
    width: 15%;
}
.content-info>.payment>.info4{
    width: 15%;
}
.content-info>.payment>.info6{
    width: 7.5%;
}

.info-main>.info1>.info-img{
    margin: 25px;
}
.info-main>.info1 img{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.info-main>.info1{
    overflow: none;
    height: 150px;
}
.info-main>.info1>div{
    float: left;
}
.info-name{
    padding-top: 50px;
}
.info-name>span{
    font-family: ns_b;
    font-size: 20px;
}
.info-name>div>span{
    font-family: ns_m;
    font-size: 13px;
    color: brown;
}

.info-main>.info2{
    overflow: hidden;
    padding-left: 15px;
    padding-top: 60px;
    box-sizing: border-box;
}
.info-main>.info2>button{
    float: left;
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-family: ns_b;
    text-align: center;
    line-height: 20px;
}
.info-main>.info2>input{
    float: left;
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
}
.info-main>.info3{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}
.info-main>.info4{
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-family: ns_r;
}
.payment-bottom{
    text-align: right;
    padding-top: 20px;
    font-size: 25px;
}

.payment-bottom>span:last-child{
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}

/* 주문자정보 */
.customer-wrap>h3{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.customer-wrap>hr{
    border: 2px solid #0c0c0c;
}
.customer-info{
    padding: 0 40px;
    width: auto;
    line-height: 1.5em;
    font-size: 13px;
    vertical-align: middle;
    padding-top: 20px;
}

.customer-info>h2{
    font-weight: bold;
    font-size: 18px;
    float: left;
}
.customer-info>span{
    display: block;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 5px 0 100px;
    min-height: 22px;
}

/* 배송정보 */
.delivery-wrap>h3{
    font-size: 20px;
    padding-top:30px;
    padding-bottom: 20px;
}
.delivery-wrap>hr{
    border: 2px solid #0c0c0c;
}

/* 배송 주소 */
.tabs-wrap{
    width: 800px;
    margin: 0 auto;
}
.tabs{
    list-style-type: none ;
    overflow: hidden;
    padding-top: 30px;
}
.tabs>li{
    float: left;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ccc;
    color: #0c0c0c;
}
.tabs>li:hover{
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
}
/* 기본배송지 및 정보수정버튼 */
.tabscontent1{
    width: 95%;
    margin: 0 auto;
    padding: 30px 0px;
    display: block;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
}
.tabscontent1>span{
    display: block;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 5px 0 100px;
    min-height: 22px;
    font-size: 18px;
}
.tabscontent1>span:first-child{
    font-weight: bold;
    font-size: 18px;
}
.delivery-update-btn{
    padding-left: 100px;
}
.delivery-update-btn>button{
    border : none;
    font-size: 18px;
    width: 100px;
    height: 30px;
    background-color: #ccc;
    color: #0c0c0c;
    border-radius: 5px;
}
.delivery-update-btn>button:hover{
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
    
}
/* 배송지 신규입력 */
.tabscontent2{
    width: 95%;
    margin: 0 auto;
    padding: 30px 0px;
    display: block;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
}
.tabscontent2>div{
    padding-bottom: 20px;
    padding-left: 20px;
}
.tabscontent2>div>label{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px 0 100px;
}
.tabscontent2>div>input{
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5e5e5e;
}
.tabscontent2>.adress>div{
    padding-bottom: 20px;
}
.tabscontent2>.adress>div>label{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px 0 100px;
}
.tabscontent2>.adress>div>input{
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5e5e5e;
}
.tabscontent2>.adress>div>button{
    border : none;
    font-size: 12px;
    width: 145px;
    font-weight: bold;
    height: 30px;
    background-color: #ccc;
    color: #0c0c0c;
    border-radius: 5px;
}
.tabscontent2>.adress>div>button:hover{
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
    border : none;
}
/* 결제수단 */
.payment-way-content>h3{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.payment-way-content>hr{
    border: 2px solid #0c0c0c;
}
.payment-way{
    padding : 50px 0px 50px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.payment-way>p{
    padding: 10px 0px 10px 0px;
}
.payment-way>label>input{
    position: relative;
    width: 20px;
    height: 20px;
}
/*최종 결제 버튼*/
.total-payment-btn{
    text-align: center;
    padding-top: 50px;
}
.total-payment-btn>button{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    height: 60px;
    background-color: #ccc;
    color: #0c0c0c;
    border-radius: 5px;
    border : none;
}
.total-payment-btn>button:hover{
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
}