*{
    margin: 0;
    padding: 0;
    outline: none;
}
.content{
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    /*min-width: 1600px;*/
}
.content-mains{
	/*width: 70%;*/
    overflow: hidden;
    /*아래애들이 float left 썼으니까 높이주려면 윗단계에 overflow hidden*/
}
.product-left{
    width: 30%;
    height: 500px;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}
.productDetail-img{
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    height: 70%;
    border: 1px solid #ededed;
}
.productDetail-img>img{
	width: 90%;
	height: 90%;
	margin: 0 auto;
	display: block;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.product-preview{
    width: 50%;
    /*height: 500px;*/
    float: left;
    box-sizing: border-box;
    padding-top: 50px;
    border: 1px solid #ededed;
    padding: 20px;
}
.product-detail-wrap{
    width: 70%;
    margin : 0 auto;
    padding-bottom: 100px;
    border: 1px solid #ededed;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.product-content{
	padding : 40px;
	height: 30%;
	box-sizing: border-box;	
	border: 1px solid #ededed;
	line-height: 1.5;
}

.buy-button{
    padding: 20px;
    text-align: center;
    /*중앙 배열*/
    display: flex;
    justify-content: center;
}
.cart{
    /*border: 1px solid #888787;*/
    border: none;
    width: 250px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    background-color: #888787;
    /*float: left;*/
}
.selectOptionStock{
	width: 100px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid black;
	font-size: 24px;
	text-align: center;
	/*float: left;*/
}


.tab{
	width:600px;
	margin: 0 auto;
}

.tab>ul{
    list-style-type: none;
    overflow: hidden;
}
.tab>ul>li{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ededed;
    cursor: pointer;
}
.tab>ul>li.active-tab{
    border-top: 3px solid #000;
    color: #000;
    font-weight: 900;
    border-bottom: none;
}

.tab-content>div{
    box-sizing: border-box;
    padding: 50px 30px;
    /*display: none;*/
    border: 1px solid #ededed;
}
.tab-content>div.active-content{
    display: block;
}
/*
.product-detail{
    height: 200px;
}
*/

.product-info{
	padding-top: 30px;
	text-align: left;
}
.product-name{
	padding: 10px;
}
.product-info>table th{
    padding: 10px;
    text-align: left;
}
.product-info>table td{
    padding-left: 20px;
    text-align: left;
}
.option-dropdown{
	padding: 10px;
	padding-top: 30px;
}
.total-price{
	text-align:right;
}
.tab-wrap{
	padding-top: 50px;
}
.txt-preline{
	white-space: pre-line;
}
.beforeth{
    text-align: left;
    background-color: rgba(136, 135, 135, 0.3);
    width: 150px;
}
.product-detail>div>table td{
	padding: 20px;
}
/*
.product-detail>div>div{
	font-size: 24px;
}
*/
.product-detail>div{
	padding: 30px;
}
.explanation{
	font-size: 20px;
	margin-bottom: 20px;
}
.product-review>div{
	padding: 20px;
}
.product-comment>div>span{
	font-size: 20px;
}
.product-comment>div{
	padding: 20px;
}
.seller-line{
	overflow: hidden;
}
.oneline>img{
	width: 50px;
	height: 50px;
}
.oneline{
	float: left;
}
.oneline-name{
	float: left;
	font-size: 24px;
	padding-left: 20px;
	line-height: 50px;
}
.product-name>div{
	font-size: 24px;
	padding-bottom: 20px;
}
.price-part>div{
	float: left;
}
.price-part{
	overflow: hidden;
}
.won{
	padding-left: 5px;
	font-size: 22px;
}
.starline{
	overflow: hidden;
}
.5points{
	float: left;
}
.avgStar{
	margin-right: 5px;
	float: left;	
}
.optionMenuLine{
	text-align: left;
	font-size: 24px;
	padding-right: 30px;
}
.optionSelectLine{
	width: 300px;
	height: 35px;
	float: left;
}
.option-dropdown{
	overflow: hidden;
}
.option-dropdown>div{
	float: left;
}
/*재고수정버튼*/
.qty-buttons{
    background: transparent;
    height: 20px;
    width: 20px;
    display: block;
    border: 0 none;
    font-size: 0;
    line-height: 0;
}

.total-price{
	overflow: hidden;
	display: flex;
    justify-content: right;
    font-size: 24px;
    margin-top: 10px;
}
.totalProductPriceLine{
	float: left;
	padding-right: 10px;
}
.totalProductPrice{
	float: left;
}
.totalProductWon{
	float: left;
}