/* 사용 색상
#272829 검정 font
#61677A 네이비
#D8D9DA 회색
#FFF6E0 노랑 */
*{
    margin: 0;
    padding: 0;
    font-family: ns-r;
    color: #1e1e1e;
}
.content-title>span {
    font-family: ns-eb;
    letter-spacing: 3px;
}

/*
.content-date{
    padding: 20px 20px 20px 0px;
}
.content-date>span{
    color: #272829;
    font-weight: bold;
}
*/

/* 테이블 간 넓이 */
.sellingListTbl{
	width: 100%;
	border-collapse: collapse;
}

.info1,.info6{
    width: 12.5%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info2{
    width: 40%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.info3,.info4,.info5{
    width: 16%;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}


.content-info>.order{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
.content-info>.selling>div{
    float: left;
}
.content-info>.selling:first-child>div{
    height: 40px;
}
.info-top>.info1{
    text-align: center;
   
} 

.info-top>div{
    text-align: center;
    line-height: 40px;
}
.info-top{
    border-bottom: 3px solid #ccc;

}
.info-top>div>span{
    font-size: 20px;
    font-family: ns_m;
    color: #0c0c0c;
}

.info-main{
    border-bottom: 3px solid #ccc;
   
}
.info-main>.info1{
    text-align: center;
    line-height: 150px;
    font-weight: bold;
}
.info-main>.info2>.info-img{
    margin: 25px;
    float: left;
}
.info-main>.info2 img{
     width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.info-main>.info2{
    overflow: none;
    height: 150px;
}

.info-name{
    padding: 50px 0px 50px 0px;
     text-align : left;
}
.info-name>span{
    font-family: ns_b;
    font-size: 20px;
}
.info-name>div>span{
    font-size: 13px;
    font-family: ns_m;
    color: brown;
}

.info-main>.info3{
    overflow: hidden;
    padding : 60px 15px 60px 15px;
    box-sizing: border-box;
}

.info-main>.info3>span{
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
}
.info-main>.info4{
    text-align: center;
    line-height: 140px;
    font-size: 18px;
    font-family: ns_r;
}
.info-main>.info5{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: ns_r;
}
/* 상세보기 버튼 */
.info-main>.info5>button{
    border:none;
    width: 80px;
    height: 20px;
    border-radius: 3px;
    background-color: #D8D9DA;
}
.info-main>.info5>button:hover{
    border:none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #61677A;
}


/* 더보기 버튼 */
.selling-info-bottom{
    text-align: center;
    padding-top: 50px;
}
.selling-info-bottom > button{
    border:none;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    background-color: #D8D9DA;
    text-align: center;
    font-size: 20px;
}
.selling-info-bottom > button:hover{
    border:none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #61677A;
}

.payment-bottom{
    display: block;
    text-align: right;
    padding-top: 20px;
    font-size: 25px;
}

.payment-bottom>span:last-child{
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}
/* modal css */
body{
    margin: 0;
}
.modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    top:  0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content-info{
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
}
.check-modal{
    width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.content-receiver-bottom{
    width: 95%;
    margin: 0 auto;
    padding: 30px 0px;
    display: block;
    border-radius: 5px;
}
.content-receiver-bottom>span{
    display: block;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 5px 0 100px;
    min-height: 22px;
    font-size: 18px;
}
.content-receiver-bottom>span:first-child{
    font-weight: bold;
    font-size: 18px;
}
.cancel-btn{
    text-align: center;
    padding-top: 50px;
}
.cancel-btn>button{
    font-size: 18px;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: #ccc;
    color: #0c0c0c;
    border-radius: 5px;
    border: none;
}
.cancel-btn>button:hover{
    border:none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #61677A;
}