<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>

<body>
	<th:block th:include="common/header"></th:block>
	
	<div class="page-content">
		<!--
			이미지 슬라이드
				 Slider main container 
				<div class="swiper">
					 Additional required wrapper 
					<div class="swiper-wrapper">
						 Slides 
							<div class="swiper-slide"><a href="#"><img src="/img/others/gbri.png"></a></div>
							<div class="swiper-slide"><a href="#"><img src="/img/bracelet/bracelet1.jpg"></a></div>
							<div class="swiper-slide"><a href="#"><img src="/img/bracelet/bracelet2.jpg"></a></div>
							<div class="swiper-slide"><a href="#"><img src="/img/others/pendan1.jpg"></a></div>
						
						
					</div>
					 If we need pagination 
					<div class="swiper-pagination"></div>
				
					 If we need navigation buttons 
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				
					 If we need scrollbar 
					<div class="swiper-scrollbar"></div>
			</div>

		-->		
	
	</div>	
	<th:block th:include="common/footer"></th:block>
</body>
</html>