<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<body>
	
	<th:block th:include="common/header"></th:block>
	
	<div class="page-content">
		
			
				<div class="swiper">
					 
					<div class="swiper-wrapper">
						
							<div class="swiper-slide"><a href="#"><img src="/img/others/gbri.png"></a></div>
							<div class="swiper-slide"><a href="#"><img src="/img/bracelet/bracelet1.jpg"></a></div>
							<div class="swiper-slide"><a href="#"><img src="/img/bracelet/bracelet2.jpg"></a></div>
							<div class="swiper-slide"><a href="#"><img src="/img/bracelet/bracelet1.jpg"></a></div>
						
						
					</div>
					 
					<div class="swiper-pagination"></div>
				
					
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				
					
					<div class="swiper-scrollbar"></div>
			</div>

			
	
	</div>	
	<th:block th:include="common/footer"></th:block>
	<script src="/js/slide.js"></script>
</body>
</html>