<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>


<body>
	
	<th:block th:include="common/header"></th:block>
	
	<div class="page-content">
		
			
				<div class="swiper mySwiper">					 
					<div class="swiper-wrapper">						
							<div class="swiper-slide"><img src="/img/ring/ring1.jpg"></div>	
							<div class="swiper-slide"><img src="/img/bracelet/bracelet1.jpg"></div>
							<div class="swiper-slide"><img src="/img/ring/ring2.jpg"></div>
							<div class="swiper-slide"><img src="/img/bracelet/bracelet2.jpg"></div>
												
					</div>					 
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>						
			</div>
			<div class="prd">
				<div class="best_prd_title">
					<span class="move">BEST PRODUCT</span>
					<div class="search-list-wrap">


						<ul class="prdList">
			
			
							<li class="prdbox">
								<div class="item_list_box">
									<div class="tumbnail">
									<span id="best">
									 1
									</span>
										<a href="#">
											<img src="/img/others/profile.png">
										</a>
										
											<span class="material-icons favorite_border">
												favorite_border
												</span>
										
									</div>
								</div>
								<div class="prd_info">
									<div class="inner">
										<strong>
											<a href="#">제품명</a>
										</strong>
										
										<ul class="spec">
											<li class="summary">
												제품상세내용
											</li>
											<li class="price_all">
												<span>1,000 원</span>
											</li>
											<li class="review">
												<a href="#">
													<span class="material-icons star">star</span>
													<span class="material-icons star">star</span>
													<span class="material-icons star">star</span>
													<span class="material-icons star">star</span>
													<span class="material-icons star">star</span>
												</a>
												<a href="#">
													<span class="review_content">
														리뷰내용리뷰내용리뷰내용
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
			
							<li class="prdbox">
								<div class="item_list_box">
									<div class="tumbnail">
										<span id="best">
											2
										   </span>
										<a href="#">
											<img src="/img/others/profile.png">
										</a>
									</div>
								</div>
								<div class="prd_info">
									<div class="inner">
										<strong>
											<a href="#">제품명</a>
										</strong>
										<ul class="spec">
											<li class="summary">
												제품상세내용
											</li>
											<li class="price_all">
												<span>00,000원</span>
											</li>
											<li class="review">
												<a href="#">
													별별별별
												</a>
												<a href="#">
													<span class="review_content">
														리뷰내용리뷰내용리뷰내용
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
			
							<li class="prdbox">
								<div class="item_list_box">
									<div class="tumbnail">
										<span id="best">
											3
										   </span>
										<a href="#">
											<img src="/img/others/profile.png">
										</a>
									</div>
								</div>
								<div class="prd_info">
									<div class="inner">
										<strong>
											<a href="#">제품명</a>
										</strong>
										<ul class="spec">
											<li class="summary">
												제품상세내용
											</li>
											<li class="price_all">
												<span>00,000원</span>
											</li>
											<li class="review">
												<a href="#">
													별별별별
												</a>
												<a href="#">
													<span class="review_content">
														리뷰내용리뷰내용리뷰내용
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
			
							<li class="prdbox">
								<div class="item_list_box">
									<div class="tumbnail">
										<span id="best">
											4
										   </span>
										<a href="#">
											<img src="/img/others/profile.png">
										</a>
									</div>
								</div>
								<div class="prd_info">
									<div class="inner">
										<strong>
											<a href="#">제품명</a>
										</strong>
										<ul class="spec">
											<li class="summary">
												제품상세내용
											</li>
											<li class="price_all">
												<span>00,000원</span>
											</li>
											<li class="review">
												<a href="#">
													별별별별
												</a>
												<a href="#">
													<span class="review_content">
														리뷰내용리뷰내용리뷰내용
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
			
							<li class="prdbox">
								<div class="item_list_box">
									<div class="tumbnail">
										<span id="best">
											5
										   </span>
										<a href="#">
											<img src="/img/others/profile.png">
										</a>
									</div>
								</div>
								<div class="prd_info">
									<div class="inner">
										<strong>
											<a href="#">제품명</a>
										</strong>
										<ul class="spec">
											<li class="summary">
												제품상세내용
											</li>
											<li class="price_all">
												<span>00,000원</span>
											</li>
											<li class="review">
												<a href="#">
													별별별별
												</a>
												<a href="#">
													<span class="review_content">
														리뷰내용리뷰내용리뷰내용
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
			
			
			
						
			
					</div>
				</div>
			</div>
			<div class="prd">
				<span class="move">NEW PRODUCT</span>
				<div class="search-list-wrap">


					<ul class="prdList">
		
		
						<li class="prdbox">
							<div class="item_list_box">
								<div class="tumbnail">
								<span id="best">
								 1
								</span>
									<a href="#">
										<img src="/img/others/profile.png">
									</a>
									
										<span class="material-icons favorite_border">
											favorite_border
											</span>
									
								</div>
							</div>
							<div class="prd_info">
								<div class="inner">
									<strong>
										<a href="#">제품명</a>
									</strong>
									
									<ul class="spec">
										<li class="summary">
											제품상세내용
										</li>
										<li class="price_all">
											<span>1,000 원</span>
										</li>
										<li class="review">
											<a href="#">
												<span class="material-icons star">star</span>
												<span class="material-icons star">star</span>
												<span class="material-icons star">star</span>
												<span class="material-icons star">star</span>
												<span class="material-icons star">star</span>
											</a>
											<a href="#">
												<span class="review_content">
													리뷰내용리뷰내용리뷰내용
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
		
						<li class="prdbox">
							<div class="item_list_box">
								<div class="tumbnail">
									<span id="best">
										2
									   </span>
									<a href="#">
										<img src="/img/others/profile.png">
									</a>
								</div>
							</div>
							<div class="prd_info">
								<div class="inner">
									<strong>
										<a href="#">제품명</a>
									</strong>
									<ul class="spec">
										<li class="summary">
											제품상세내용
										</li>
										<li class="price_all">
											<span>00,000원</span>
										</li>
										<li class="review">
											<a href="#">
												별별별별
											</a>
											<a href="#">
												<span class="review_content">
													리뷰내용리뷰내용리뷰내용
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
		
						<li class="prdbox">
							<div class="item_list_box">
								<div class="tumbnail">
									<span id="best">
										3
									   </span>
									<a href="#">
										<img src="/img/others/profile.png">
									</a>
								</div>
							</div>
							<div class="prd_info">
								<div class="inner">
									<strong>
										<a href="#">제품명</a>
									</strong>
									<ul class="spec">
										<li class="summary">
											제품상세내용
										</li>
										<li class="price_all">
											<span>00,000원</span>
										</li>
										<li class="review">
											<a href="#">
												별별별별
											</a>
											<a href="#">
												<span class="review_content">
													리뷰내용리뷰내용리뷰내용
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
		
						<li class="prdbox">
							<div class="item_list_box">
								<div class="tumbnail">
									<span id="best">
										4
									   </span>
									<a href="#">
										<img src="/img/others/profile.png">
									</a>
								</div>
							</div>
							<div class="prd_info">
								<div class="inner">
									<strong>
										<a href="#">제품명</a>
									</strong>
									<ul class="spec">
										<li class="summary">
											제품상세내용
										</li>
										<li class="price_all">
											<span>00,000원</span>
										</li>
										<li class="review">
											<a href="#">
												별별별별
											</a>
											<a href="#">
												<span class="review_content">
													리뷰내용리뷰내용리뷰내용
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
		
						<li class="prdbox">
							<div class="item_list_box">
								<div class="tumbnail">
									<span id="best">
										5
									   </span>
									<a href="#">
										<img src="/img/others/profile.png">
									</a>
								</div>
							</div>
							<div class="prd_info">
								<div class="inner">
									<strong>
										<a href="#">제품명</a>
									</strong>
									<ul class="spec">
										<li class="summary">
											제품상세내용
										</li>
										<li class="price_all">
											<span>00,000원</span>
										</li>
										<li class="review">
											<a href="#">
												별별별별
											</a>
											<a href="#">
												<span class="review_content">
													리뷰내용리뷰내용리뷰내용
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
		
		
		
					
		
				</div>
			</div>
	
	</div>	
	<th:block th:include="common/footer"></th:block>
	<script src="/js/slide.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>
</html>