<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CANCEL/REFUND</title>
<link rel="stylesheet"  href="/css/cancelRefund.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<th:block th:include="customer/customerHeader"></th:block>
		<th:block th:include="customer/customerMenu"></th:block>
	    <div class="content-wrap">
	    	<div class="content-title">
                <span>
					CANCEL/REFUND
				</span>
            </div>
	   	 	<div class="content-main">
	   	 		<div class="cancelRefund info-top">
                        <table class="cancelRefundTbl cr-info-top">
                             <tr class="tbl-top">
		                           <th class="info1">No.</th>
		                           <th class="info2">상품정보</th>
		                           <th class="info3">수량</th>
		                           <th class="info4">상품금액</th>
		                           <th class="info5">주문상태</th>
		                    </tr>
                            <tr class="tbl info-main" th:each="cancelRefund : ${cancelRefund}">
                                    <th class="info1">
                                        <span th:text="${cancelRefund.orderListDate}"></span>
                                    </th>
                                    <th class="info2">
                                   		<div class="info-img">
                                            <img th:src="'/product/'+${cancelRefund.productImg}">
                                        </div>
                                        <div class="info-name">
                                            <span th:text="${cancelRefund.productName}"></span>
                                           <div><span>1. </span><span th:text="${cancelRefund.optionColor}"></span><span> 2. </span> <span th:text="${cancelRefund.optionSize}"></span></div>
                                        </div>
                                    </th>
                                    <th class="info3">
                                        <span th:text="${cancelRefund.orderCount}">개</span>
                                    </th>
                                    <th class="info4"><span th:text="${cancelRefund.productPrice}">3800원</span></th>
                                    <th class="info5" th:switch="${cancelRefund.orderState}">
                                       <span th:case="1">상품준비중</span>
                                       <span th:case="3">배송완료</span>
                                    </th>
                            </tr>
                        </table>
                    </div>
				                 <!-- 취소 / 환불 페이지 -->
		                <div class="cancel-way-wrap">
		                    <div class="cancel-way-content">
			                    <div class="total-cancel-btn">
			                        <form action="/seller/cancelRefund">
			                        <button type="button" class="crBtn">취소</button>
									<input type="hidden" name="orderNo" th:value=" ${cancelRefund[0].orderNo}">	<!-- ${cancelRefund.orderNo} -->	                        
			                        <button type="submit" class="crBtn" th:if="${cancelRefund[0].orderState==1 || cancelRefund[0].orderState==3}">취소/환불</button>
			                        </form>
			                    </div>
		                </div>
		            </div>  
	    	</div>
	    </div> 
	<th:bolck th:include="common/footer"></th:bolck>
</body>
</html>