0<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CANCEL/REFUND LIST</title>
<link rel="stylesheet" href="/css/cancelRefundList.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<th:block th:include="customer/customerHeader"></th:block>
		<th:block th:include="customer/customerMenu"></th:block>
	    <div class="content-wrap">
	    	<div class="content-title">
                <span>
					REFUND LIST
				</span>
            </div>
	   	 	<div class="content-main">
	   	 		<div class="refund info-top">
                        <table class="refundListTbl info-top">
                            <tr class="tbl-top">
                                    <th class="info1">주문일시</th>
                                    <th class="info2">상품정보</th>
                                    <th class="info3">수량</th>
                                    <th class="info4">상품금액</th>
                                    <th class="info5">처리상태</th>
                            </tr>
                            <tr th:if="${cancelRefundList.isEmpty()}">
                            	<th colspan="5">취소목록이 없습니다.</th>
                            </tr>
                            <tr class="tbl info-main" th:each="cancelRefundList : ${cancelRefundList}">
                                    <th class="info1">
                                        <span th:text="${cancelRefundList.orderListDate}"></span>
                                    </th>
                                    <th class="info2">
                                   		<div class="info-img">
                                            <img th:src="'/product/'+${cancelRefundList.productImg}">
                                        </div>
                                        <div class="info-name">
                                            <span th:text="${cancelRefundList.productName}"></span>
                                           <div><span>1. </span><span th:text="${cancelRefundList.optionColor}"></span><span> 2. </span> <span th:text="${cancelRefundList.optionSize}"></span></div>
                                        </div>
                                    </th>
                                    <th class="info3">
                                        <span th:text="${cancelRefundList.orderCount}">개</span>
                                    </th>
                                    <th class="info4"><span th:text="${cancelRefundList.productPrice}">3800원</span></th>
                                    <th class="info5" th:switch="${cancelRefundList.orderState}">
                                       <span th:case="5">취소/환불 접수</span>
                                       <span th:case="6">취소/환불 완료</span>
                                    </th>
                            </tr>
                        </table>
                    </div>
				    <!-- <div class="order-info-bottom">
				                <button type="button">더보기</button>
				            </div> -->
	   	 	
	    	</div>
	    </div> 
	<th:bolck th:include="common/footer"></th:bolck>

</body>
</html>