<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CART</title>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/seller.css">
<script src="js/jquery-3.6.0.js"></script>
</head>
<body>
	  <th:block th:include="common/header"></th:block>
	  <div class="cart-all-wrap">
	  <div class="seller-header">
					<span class="move">CART</span>
				</div>
    <div class="cart-wrap">
        <!-- 페이지 제목 -->
        
        <!-- 장바구니 내용 -->
        <form action="" method="post">
            <div class="cart-content">
                <div class="content-info">
                    <table class="cartTbl info-top">
                        <tr class="tbl-top">
                                <th class="info1">선택</th>
                                <th class="info2">상품정보</th>
                                <th class="info3">수량</th>
                                <th class="info4">상품금액</th>
                                <th class="info5">배송비</th>
                                <th class="info6"></th>
						</tr>
                        <tr class="tbl info-main">
                                <th class="info1">
                                    <input type="checkbox" id="useCheck" class="check">
                                </th>
                                <th class="info2">
                                    <!-- <div class="info-img">
                                        <img src="img/icemallimage/ice1.png">
                                    </div> 보류-->
                                    <div class="info-name">
                                        <span>상품이름</span>
                                        <div><span>1. 옵션</span> <span>2. 옵션</span></div>
                                    </div>
                                </th>
                                <th class="info3">
                                    <button type="button">-</button>
                                    <input type="text" name="pop-out" value="1" readonly="readonly">
                                    <button type="button">+</button>
                                </th>
                                <th class="info4"><span>3800원</span></th>
                                <th class="info5"><span>0000원</span></th>
                                <th class="info6">
                                    <span class="material-icons">close</span>
                                </th>
						</tr>
                    </table>
                </div>
            </div>
                    <!-- 장바구니 전체 선택 및 버튼 -->
                <div class="info-bottom">
                    <div>
                        <input type="checkbox" class="allCheck" id="allCheck">
                    </div>
                    <label for="check-all">전체선택<span>(0/0)</span></label>
                    <button type="button" id="delBtn">선택상품 삭제</button>
                </div>
                    <!-- 결제 금액 확인 -->
                    <div class="content-amount">
                        <div class="amount product">
                            <div>상품금액</div>
                            <div><span>15,200원</span></div>
                        </div>
                        <div class="sign">
                            <span class="material-icons">add</span>
                        </div>
                        <div class="amount delivery">
                            <div>배송비</div>
                            <div><span>0000원</span></div>
                        </div>
                        <div class="sign">
                            <span class="material-icons">double_arrow</span>
                        </div>
                        <div class="order">
                            <div><span>결제 예정 금액</span></div>
                            <div><span>15,200원</span></div>
                        </div>
                    </div>
                        <!--  계속 쇼핑하기, 구매하기 버튼 -->
                        <div class="content-bottom">
                            <button type="button" class="keepShopping">계속 쇼핑하기</button>
                            <button type="button">구매하기</button>
                        </div>
                    </form>
                </div>
            </div>
	  <th:block th:include="common/footer"></th:block>
	  <script src="/js/cart.js"></script>
</body>
</html>