<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>M Y P A G E</title>
<link rel="stylesheet" href="css/customer.css">
<script src="js/jquery-3.6.0.js"></script>
</head>
<body>
        <div class="customer-head-wrap">
            <div class="customer-title">
                <h2 class="title1">M Y P A G E</h2>
            </div>
            <div class="customer-info">
                <div class="info">
                    <img src="/img/seller/dog.png">
                    <span><button type="button">구매자아이디 ></button></span>
                </div>
            </div>
        </div>
</body>
</html>