<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>M Y P A G E</title>
<link rel="stylesheet" href="/css/customer.css">
<link rel="stylesheet" href="/css/font.css">
<link rel="stylesheet" href="/css/seller.css">
<script src="js/jquery-3.6.0.js"></script>
</head>
<body>
        <div class="customer-head-wrap">
            <div class="seller-header">
                <span class="move">MY PAGE</span>
            </div>
            <div class="customer-info">
                <div class="info">
                    <img src="/img/common/person.png">
                    <button type="button" id="mypage-memberName" th:text="${session.c.getCustomerId}+님"></button>
                </div>
            </div>
        </div>
</body>
</html>