<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>M Y P A G E</title>
<link rel="stylesheet" href="/css/customer.css">
<link rel="stylesheet" href="/css/font.css">
</head>
<body>
	<div class="left-menu-wrap">
            <div class="left-menu">
            <ul>
                <li><a href="/customer/orderList">주문내역</a></li>
                <li><a href="/customer/cancelRefundList">취소환불내역</a></li>
                <li><a href="/customer/reviewCheck">리뷰확인</a></li>
                <li><a href="/customer/myInfo">회원정보관리</a></li>
                <li><a href="/customer/unregister">회원탈퇴</a></li>
            </ul>	
            </div>
    </div>
</body>
</html>