<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>payment</title>
<link rel="stylesheet" href="/css/payment.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="payment-all-wrap">
            <div class="payment-wrap">
                <div class="payment-title">
                    <h2 class="title1">PAYMENT</h2>
                </div>
                <div class="payment-content">
                    <h3>주문상품</h3>
                    <hr>
                    <div class="content-info">
                        <div class="payment info-top">
                            <div class="info1">
                                <span>상품정보</span>
                            </div>
                            <div class="info2">
                                <span>수량</span>
                            </div>
                            <div class="info3">
                                <span>상품금액</span>
                            </div>
                            <div class="info4">
                                <span>배송비</span>
                            </div>
                        </div>
                    <div class="payment info-main">
                        <div class="info1">
                            <div class="info-img">
                                <img src="img/icemallimage/ice1.png">
                            </div>
                            <div class="info-name">
                                <span>상품이름</span>
                                <div>옵션</div>
                            </div>
                        </div>
                        <div class="info2">
                            <button type="button">-</button>
                            <input type="text" value="1">
                            <button type="button">+</button>
                        </div>
                        <div class="info3">
                            3800원
                        </div>
                        <div class="info4">
                            0원
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	 <th:block th:include="common/footer"></th:block>
</body>
</html>