<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>QnA전체리스트</title>
	<link rel="stylesheet" href="/css/qna.css">
	<link rel="stylesheet" href="/css/seller.css">
	
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="page-content">
				<div class="seller-header">
					<span class="move">Q & A</span>
				</div>
			<div class="qna-wrap">
				<table class="qna">
					<tr class="qna-tr">
						<th style="width:10%">번호</th>
						<th style="width:45%">제목</th>
						<th style="width:15%">작성자</th>
						<th style="width:20%">작성일</th>
						<th style="width:10%">조회수</th>
					</tr>
					<tr th:each="list : ${list}">
						<td th:text="${list.questionNo}"></td>
						<td >
							<a href="#" th:text="${list.questionTitle}"></a>
						</td>
						<td  th:if="${list.questionCusWriter == null}" th:text="${list.questionSellWriter}"></td>
						<td  th:if="${list.questionSellWriter == null}" th:text="${list.questionCusWriter}"></td>
						<td th:text="${list.questionDate}"></td>
						<td th:text=${list.questionReadCount}></td> 
					</tr>
				</table>
				<div id="pageNavi" th:utext="${pageNavi}"></div>
			</div>
		</div>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>