<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/qna.css">
	<link rel="stylesheet" href="/css/review.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	
	<div class="page-content">
		<div class="seller-header">
			<span class="move">Q & A</span>
		</div>
		<div class="qna-wrap">
			<div id="write-btn">
				<button type="button" class="btn-del">
					<a href="/qna/qnaList?reqPage=1">목록가기</a>
				</button>
				<div class="qnaFrm">
					<ul class="qnaFrm-title-wrap">
						<li class="qnaFrm-id">
							<span>작성자 아이디</span>			
						</li>
						<li class="qnaFrm-date">
							<span>2023-00-00</span>
						</li>
						<li class="qnaFrm-count">
							<span>view : </span>
							<span>count</span>
						</li>
					</ul>
						<div class="qnaFrm-title">
							<span>문의사항 제목</span>
						</div>
						<div class="qnaFrm-content">							
								문의내용문의내용			
						</div>
						<div class="qnaFrm-comment">
							<div class="inputCommentBox" th:if="${session.c == null}">
								<ul>
									<li>
										<textarea name="reviewCommentContent" class="comment-input-form" placeholder="댓글을 입력해 주세요."></textarea>
									</li>
									<li>
										<button type="button" class="btn2" onclick="loginMsg();">댓글등록</button>
									</li>
								</ul>
							</div>
							<div class="inputCommentBox" th:if="${session.c != null}">
								<form action="/review/insertComment" method="post">
									<ul>
										<li>
											<input type="hidden" name="reviewCommentWriter" th:value="${session.c.customerId}">
											<input type="hidden" name="reviewRef" th:value="${r.reviewNo}">
											<textarea name="reviewCommentContent" class="comment-input-form" placeholder="댓글을 입력해 주세요."></textarea>
										</li>
										<li>
											<button type="submit" class="btn2">댓글등록</button>
										</li>
									</ul>
								</form>
							</div>
						</div>

						<div class="qnaFrm-comment-box">
							<th:block th:each="rc : ${comment}">
                        	<!-- 댓글 -->
                            <ul class="posting-comment comment-first">
                                <li class="comment-view">
                                    <p class="comment-info">
                                        <span th:text="${rc.reviewCommentWriter}"></span>
                                        <span>|</span>                                           
                                        <span th:text="${rc.reviewCommentDate}"></span>
                                    </p>
                                    <div class="review-comment-content" th:text="${rc.reviewCommentContent}"></div>
                                    <textarea name="reviewCommentContent" class="review-recomment-input" style="min-height:60px; width:620px; display:none;" th:text="${rc.reviewCommentContent}"></textarea>
                                    <p class="comment-link">
                                    	<a href="javascript:void(0)" class="recShow" onclick="loginMsg();" th:if="${session.c == null}">답글달기</a>
                                    <th:block th:if="${session.c != null}">
                                    	<a href="javascript:void(0)" class="recShow recShow2">답글달기</a>
                                        <th:block th:if="${session.c.customerId == rc.reviewCommentWriter}">
                                        <a href="javascript:void(0);" th:onclick="modifyComment(this,[[${rc.reviewCommentNo}]],[[${r.reviewNo}]]);">수정</a>
                                        <a href="javascript:void(0);" th:onclick="deleteComment(this,[[${rc.reviewCommentNo}]],[[${r.reviewNo}]]);">삭제</a>
                                        </th:block>
                                    </th:block>                                        
                                    </p>
                                </li>
                            </ul>
							</th:block>
						</div>
				</div>				
			</div>
		</div>
		
		
	</div>
	
	<th:block th:include="common/footer"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script>
		
		//답글달기 취소버튼
		$(".recShow2").on("click",function(){
			const index = $(".recShow").index(this);
			if($(this).text()=="답글달기"){
				$(this).text("취소");
			}else{
				$(this).text("답글달기")
			}
			$(".inputRecommentBox").eq(index).toggle();
			$(".inputRecommentBox").eq(index).find("textarea").focus();
		});

        function deleteComment(obj,reviewCommentNo,reviewNo){
        	Swal.fire({
				title : "댓글 삭제",
				text : "댓글을 삭제하시겠습니까?",
				icon : "question",
				showCancelButton: true,
		        confirmButtonColor: '#61677A',
		        cancelButtonColor: '#D8D9DA',
		        confirmButtonText: '확인',
		        cancelButtonText: '취소',
		        reverseButtons: true,
		        
	        	}).then(result => {
		    	    if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
		    	    	location.href = "/review/deleteComment?reviewCommentNo="+reviewCommentNo+"&reviewNo="+reviewNo;
		    	    }
		    	});
        }
        
        //답글 수정
        function modifyComment(obj,reviewCommentNo,reviewNo){
			$(obj).parent().prev().prev().hide();
			$(obj).parent().prev().show();
			
			$(obj).text("수정완료");
			$(obj).attr("onclick","modifyComplete(this,"+reviewCommentNo+","+reviewNo+")");
			
			$(obj).next().text("수정취소");
			$(obj).next().attr("onclick","modifyCancel(this,"+reviewCommentNo+","+reviewNo+")")
			
			$(obj).prev().hide();
		}
		function modifyCancel(obj,reviewCommentNo,reviewNo){
			$(obj).parent().prev().prev().show();
			
			$(obj).parent().prev().hide();

			$(obj).prev().text("수정");
			$(obj).prev().attr("onclick","modifyComment(this,"+reviewCommentNo+","+reviewNo+")");
			
			$(obj).text("삭제");
			$(obj).attr("onclick","deleteComment(this,"+reviewCommentNo+","+reviewNo+")");
			
			$(obj).prev().prev().show();
		}
		
		function modifyComplete(obj,reviewCommentNo,reviewNo){
			const form = $("<form style='display:none' action='/review/updateComment' method='post'>");
			
			const commentNoInput = $("<input type='text' name='reviewCommentNo'>");
			commentNoInput.val(reviewCommentNo);
			const reviewNoInput = $("<input type='text' name='reviewRef'>");
			reviewNoInput.val(reviewNo);
			
			const textArea = $(obj).parent().prev().clone();
			
			form.append(commentNoInput).append(reviewNoInput).append(textArea);
			
			$(".review-info").append(form);
			
			form.submit();
		}
	</script>
</body>
</html>