<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <th:block th:include="common/header"></th:block>
    	<!-- 썸머노트 -->
    	<script src="/summernote/summernote-lite.js"></script>
		<script src="/summernote/lang/summernote-ko-KR.js"></script>
		<link rel="stylesheet" href="/summernote/summernote-lite.css">
		<link rel="stylesheet" href="/css/myinfo.css">
		<link rel="stylesheet" href="/css/addNewProductFrmEditor.css">

    <div class="page-content">
        <th:block th:include="seller/sellerHeader"></th:block>
        <th:block th:include="seller/sellerMenu"></th:block>
        
            <div class="content-wrap">
                <div class="content-title">
                	<span>
                	ADD NEW PRODUCT
                	</span>
               	</div>
                <div class="content-main">
                	<form action="/seller/addNewProduct" method="post" enctype="multipart/form-data">
                	<table class="input-tbl">
                		<tr class="input-tr">
                			<th>상품명</th>
                			<td colspan="3">
                				<input type="text" name="productName" placeholder="내용을 입력해주세요" required>
                			</td>
                		</tr>
                		<tr class="input-tr">
                			<th>판매가</th>
                			<td colspan="3">
                				<input type="text" name="productPrice" placeholder="예) 100000" required>
                			</td>
                		</tr>
                		<tr class="input-tr">
                			<th>옵션설정</th>
                			<td colspan="3">
                				<!-- <input type="text" name="productOption" required> -->
                				<table class="option-tbl">
                					<tbody>
                					<tr class="option-tbl-head">
	                					<th>사이즈</th>
	                					<th>색상</th>
	                					<th>
	                						<button type='button' id="optionAddBtn" class="optionAddBtn">옵션 추가</button>
	                					</th>
                					</tr>
                					
                					<tr>
                						<td>
                							<input type="text" id="optionSize" name="optionSize" placeholder="옵션 사이즈" required>
                						</td>
                						<td>
                							<input type="text" id="optionColor" name="optionColor" placeholder="옵션 색상" required>
                						</td>
                					</tr>
                					
                						
                						</tbody>
                						
      
                					
                				</table>
                				
                			</td>
                		</tr>
                		<tr class="input-tr">
                			<th>상품 카테고리 선택</th>
                			<td colspan="3">
                				<!-- <input type="text" name="productCategory" required> -->
                				<select name="categoryNo" class="input-form">
                					<option value="1">EARRING</option>
                					<option value="2">NECKLACE</option>
                					<option value="3">RING</option>
                					<option value="4">BRACELET</option>
                					<option value="5">WATCH</option>
                					<option value="6">HAIR-PRO</option>
                					<option value="7">OTHERS</option>
                				</select>
                			</td>
                		</tr>
                		<tr class="input-tr">
                			<th>대표 이미지 업로드</th>
                			<td colspan="3">
                				<input type="file" name="upfile" id="productImg" accept=".jpg,.png,.jpeg" required>
                			</td>
                		</tr>
                		<tr class="input-tr">
                			<th>대표 이미지 미리보기</th>
                			<td colspan="3">
                				<div class="productImgView">
                					<img id="productImgView" width="300px">
                				</div>
                			</td>
                		</tr>
                		<tr class="input-tr">
                			<th>상품 요약 설명</th>
                			<td colspan="3">
                				<input type="text" name="productContent" placeholder="내용을 입력해주세요" required>
                			</td>
                		</tr>
                		<tr class="input-tr">
                			<th>상품 상세 설명</th>
                			<td colspan="3" style="text-align: left;">
                				<textarea class="input-form" name="productContentDetails" id="productContentDetails" placeholder="내용을 입력해주세요"></textarea>
                			</td>
                		</tr>
                	</table>                		
						<div class="input-btn">
							<input type="submit" value="검수 요청"></input>
						</div>         
						</form>       		                		                		                		                		                		

                </div>
            </div>   
        </div>        

    <th:block th:include="common/footer"></th:block>
    <script>
    	
    	//옵션 추가 버튼
	    $("#optionAddBtn").on("click",function(){
	    	const tr = $("<tr>");
	    	const td1 = $("<td>");
	    	const input = $("<input>");
	    	input.attr("type","text");
	    	input.attr("name","optionSize");
	    	input.attr("placeholder","옵션 사이즈");
	    	input.prop("required",true);
	    	
	    	const td2 = $("<td>");
	    	const input2 = $("<input>");
	    	input2.attr("type","text");
	    	input2.attr("name","optionColor");
	    	input2.attr("placeholder","옵션 색상");
	    	input2.prop("required",true);
	    	
	    	const td3 = $("<td>");
	    	const button = $("<button>");
	    	button.attr("type","button");
	    	button.addClass("optionRemoveBtn");
	    	button.text("-");
	    	
	    	td1.append(input);
	    	
	    	td2.append(input2);
	    	
	    	td3.append(button);
	    	
	    	tr.append(td1);
	    	tr.append(td2);
	    	tr.append(td3);
	 
	    	$(".option-tbl>tbody").append(tr);
	    	
	    	button.on("click",function(){
	    		tr.remove();
	    	})
	    });
	    
	    
    	//썸머노트
	    $("#productContentDetails").summernote({
			height: 400,
			lang : "ko-KR",
			placeholder: '상세 설명을 작성해주세요.',
			callbacks : {
				onImageUpload : function(files){
					uploadImage2(files[0],this);
				} 
			}
		});
    
    	
    	//이미지 업로드 - 이미지를 ajax로 업로드하고 그 경로를 받아옴
	    function uploadImage1(file,editor){
	    	const form = new FormData();
	    	form.append("file",file);
	    	$.ajax({
	    		url : "/seller/editor",
	    		type : "post",
	    		data : form,
	    		processData : false,
	    		contentType : false,
	    		success : function(data){
	    			//console.log(data);
	    			$(editor).summernote("insertImage",data);
	    		}
	    	});
	    }
    	
	    
    	//이미지 업로드 - 이미지를 ajax로 업로드하고 그 경로를 받아옴
	    function uploadImage2(file,editor){
	    	const form = new FormData();
	    	form.append("file",file);
	    	$.ajax({
	    		url : "/product/editor",
	    		type : "post",
	    		data : form,
	    		processData : false,
	    		contentType : false,
	    		success : function(data){
	    			//console.log(data);
	    			$(editor).summernote("insertImage",data);
	    		}
	    	});
	    }
    	
	    //파일 업로드
	    $("[name=upfile]").on("change",function(){
	        if(this.files.length != 0 && this.files[0] !=0){
	            const reader = new FileReader();
	            reader.readAsDataURL(this.files[0]);
	            reader.onload = function(e){
	                $("#productImgView").attr("src",e.target.result);
	            }
	        }else{
	            $("#productImgView").attr("src","");
	        }
	    });
    	
    </script>
</body>
</html>