<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>판매자 취소환불페이지</title>
<link rel="stylesheet" href="/css/seller.css">
</head>

<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<th:block th:include="seller/sellerHeader"></th:block>
		<th:block th:include="seller/sellerMenu"></th:block>
		<div class="content-wrap">
			<div class="content-title">
				<span>
					CANCEL / REFUND
				</span>
			</div>
			<div class="content-main">
				<form action="/seller/cancelOrder">
					
					<table class="tbl">
						<tr class="tbl-menu">
							<th>주문번호</th>
							<th>상품이미지</th>
							<th>상품이름</th>
							<th>처리상태</th>
							<th>처리버튼</th>
						</tr>
						<tr th:if="${cancelList.isEmpty()}">
							<td colspan="5">
								취소/환불요청이 없습니다.
							</td>
						</tr>
						<tr:block th:each="cl : ${cancelList}">
							<td th:text="${cl.orderNo}"></td>
							<td>
								<div class="table-prd">
									<div class="img-prd">
										<img th:src="'/product/' + ${cl.productImg}">
									</div>
								</div>								
							</td>
							<td  th:text="${cl.productName}">	
							</td>
							<td th:switch="${cl.orderState}">
								<span th:case="5">취소/환불요청</span>							
								<span th:case="6">처리완료</span>							
							<td th:switch="${cl.orderState}">
								<button th:case="5" type="button" class="btn-del" th:onclick="cancelPrd([[${cl.orderNo}]])">취소/환불확인</button>
								<button th:case="6" type="button" class="btn-del">처리완료</button>
							</td>
						</tr>
						
					</table>
				</form>
				
			</div>
			

			
		</div>
	</div>	
	<th:block th:include="common/footer"></th:block>
	<script>
		function cancelPrd(orderNo){
			if(confirm("취소요청을 확인하시겠습니까?")){
				location.href = "/seller/cancelPrd?orderNo="+orderNo;
			}
		}
	</script>
</body>
</html>