<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>판매자 정보수정</title>
</head>
<link rel="stylesheet" href="/css/join.css">
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<th:block th:include="seller/sellerHeader"></th:block>
		<th:block th:include="seller/sellerMenu"></th:block>
		
		<div class="content-wrap">
			<div class="content-title">
				<span>
					MY INFO
				</span>
			</div>
			<div class="content-main">
				 <div class="info-wrap">
					<form action="#" method="post" enctype="multipart/form-data">
	                        <table class="input-tbl" border="1"> 
								<tr class="input-tr">
									<th>대표이미지</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<th>아이디</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<th>비밀번호</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<th>비밀번호 확인</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<th>이름</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<th>전화번호</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<th>이메일</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<th>자기소개</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr class="input-tr">
									<td colspan="2">
										<input type="submit">
										<input type="button" value="취소">
									</td>
								</tr>
							</table>
					</form>
				 </div>

			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script src="/js/join.js"></script>
</body>
</html>