<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	
	<div>
		<th:block th:include="seller/sellerHeader"></th:block>
		<div class="seller-wrap">
            <th:block th:include="seller/sellerMenu"></th:block> 
			<div class="seller-content">
				<div class="content-title">PRODUCT STOCK MANAGEMENT</div>
				<table>
					<tr>
						<th style="width:10%">No.</th>
						<th style="width:30%">상품명</th>
						<th style="width:30%">옵션명</th>
						<th style="width:10%">재고</th>
						<th style="width:20%">재고변경</th>
					</tr>
                </table>     
				<div class="content-main">내용</div>                
            </div>                   
		</div>
	</div>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>