<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


		<div class="left-menu">
			<ul>
				<li><a href="/seller/selling">판매내역</a></li>
				<li><a href="/seller/productManagement">판매상품관리</a></li>
				<li><a href="/seller/productStockManagement">판매상품 재고관리</a></li>
				<li><a href="/seller/addNewProduct">판매등록</a></li>
				<li><a href="/seller/cancelRefund">취소환불내역</a></li>
				<li><a href="/seller/review">리뷰확인</a></li>
				<li><a href="/seller/myInfo">판매자정보관리</a></li>
			</ul>		
		</div>


</html>