<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


		<div class="left-menu">
			<ul>
				<li id="selling"><a href="/seller/selling">판매내역</a></li>
				<li id="productManagement"><a href="/seller/productManagement?reqPage=1">판매상품관리</a></li>
				<li id="productStockManagement"><a href="/seller/productStockManagement?reqPage=1">판매상품 재고관리</a></li>
				<li id="addNewProductList"><a href="/seller/addNewProductList?reqPage=1">판매등록</a></li>
				<li id="cancelRefund"><a href="/seller/cancelRefund">취소환불내역</a></li>
				<li id="review"><a href="/seller/review">리뷰확인</a></li>
				<li id="myInfo"><a href="/seller/myInfo">판매자정보관리</a></li>

			</ul>		
		</div>

		<script src="/js/sell.js"></script>
</html>