<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>판매자 판매내역</title>
<link rel="stylesheet" href="/css/seller.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<th:block th:include="seller/sellerHeader"></th:block>
		<th:block th:include="seller/sellerMenu"></th:block>
		<div class="content-wrap">
			<div class="content-title">
				<span>
					SELLING
				</span>
			</div>
		<div class="content-main">
            <div class="selling info-top">
                <table class="sellingListTbl info-top">
                    <tr class="tbl-top">
                            <th class="info1">No.</th>
                            <th class="info2">상품정보</th>
                            <th class="info3">수량</th>
                            <th class="info4">금액</th>
                            <th class="info5">주문처리상태</th>
                    </tr>
                    <tr class="tbl info-main" th:each="sellingList : ${sellingList}">
                            <td class="info1">
                                <span th:text="${sellingList.sellingListDate}"></span>
                            </td>
                            <td class="info2">
                                 <div class="info-img">
                                    <img th:src="'/sellingList/'+${sellingList.productImg}">
                                </div> 
                                <div class="info-name">
                                    <span th:text="${sellingList.productName}">상품이름</span>
                                    <div><span>1. </span><span th:text="${sellingList.optionColor}"></span><span> 2. </span> <span th:text="${sellingList.optionSize}"></span></div>
                                </div>
                            </td>
                            <td class="info3">
                                <span th:text="${sellingList.orderCount}">개</span>
                            </td>
                            <td class="info4"><span th:text="${sellingList.productPrice}">원</span></td>
                            <td class="info5"><span th:text="${sellingList.orderState}">상품준비중</span></td>
                    </tr>
                </table>
            </div>
        <!-- 
            <div class="order-info-bottom">
                <button type="button">더보기</button>
            </div>
         -->
        </div>

			</div>
		</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>