<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">	
	<title>판매자헤더</title>
	<link rel="stylesheet" href="/css/seller.css">
	<link rel="stylesheet" href="/css/font.css">
	
	
</head>
<body>
	<div class="seller-head-wrap">
		<div class="seller-header">
			<span class="move">MY PAGE</span>
		</div>	
		<div class="seller-headers">
			<div class="seller-header-blank"> </div>
			<div class="seller-header-id">
				<div class="id-wrap">
					<span><img th:src="'/seller/' + ${session.s.sellerImg}"></span>
					<a href="#" th:text="${session.s.sellerName}"></a>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/sell.js"></script>
</body>
</html>