<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ALL페이지</title>
<link rel="stylesheet" href="/css/seller.css">
</head>
<body>
		<th:block th:include="common/header"></th:block>
			<div class="page-content">
				<div class="seller-header">
					<span class="move">ALL PRODUCT</span>
				</div>
				<th:block th:include="common/prdMenu"></th:block>
				<div class="prdList-wrap">
				<div class="search-list-wrap">
	
	
				<ul class="prdList">
	
					<li class="prdbox" th:each="allPrd : ${allPrd}">
						<div class="item_list_box">
							<div class="tumbnail">								
								<a href="#">
									<img th:src="'/product/' + ${allPrd.productImg}">
								</a>
														
							</div>
						</div>
						<div class="prd_info">
							<div class="inner">
								<strong>
									<a href="#" th:text="${allPrd.productName}"></a>
								</strong>
								
								<ul class="spec">
									<li class="summary" th:text="${allPrd.productContent}">
										
									</li>
									<li class="price_all">
										<span th:text="${#numbers.formatInteger(allPrd.productPrice,3,'COMMA')+'원'}"></span>
									</li>
									<li class="review">
										
										<a href="#" th:if="${reviewContent} != null">
										
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					
	
	
				</ul>
	
	
				
	
			</div>
			</div>
			</div>
		<th:block th:include="common/footer"></th:block>
</body>
</html>