<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:include="common/header"></th:block>
			<div class="page-content">
				<div class="seller-header">
					<span class="move">WATCH</span>
				</div>
				<th:block th:include="common/prdMenu"></th:block>
				<div class="prdList-wrap">
				<div class="search-list-wrap">	
				<ul class="prdList">	
					<li class="prdbox" th:each="list : ${list}">
						<div class="item_list_box">
							<div class="tumbnail">								
								<a href="#">
									<img src="/img/others/profile.png">
								</a>
											
							</div>
						</div>
						<div class="prd_info">
							<div class="inner">
								<strong>
									<a href="#" th:text="${list.productName}"></a>
								</strong>
								
								<ul class="spec">
									<li class="summary" th:text="${list.productContent}">
										
									</li>
									<li class="price_all">
										<span th:text="${#numbers.formatInteger(list.productPrice,3,'COMMA')+'원'}"></span>
									</li>
									<li class="review">
										<a href="#" th:if="${reviewContent} == null">
											<span class="material-icons star star-b">star</span>
											<span class="material-icons star star-b">star</span>
											<span class="material-icons star star-b">star</span>
											<span class="material-icons star star-b">star</span>
											<span class="material-icons star star-b">star</span>
										</a>
										<a href="#" th:if="${reviewContent} != null">
											<span class="material-icons star">star</span>
											<span class="material-icons star">star</span>
											<span class="material-icons star">star</span>
											<span class="material-icons star">star</span>
											<span class="material-icons star">star</span>
										</a>
										
										<a href="#" th:if="${reviewContent} != null">
											<span class="review_content">
												리뷰내용리뷰내용리뷰내용
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>	
			</div>
				
			</div>
			</div>
		<th:block th:include="common/footer"></th:block>
</body>
</html>